body {
  margin: 0;
  /*
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  */
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


input {
  outline: none;
}

button {
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#root, #root > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body, nav, header {
  display: flex;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 25px;
  max-height: calc(100% - 65px);
}

.page-content {
  height: 100%;
  min-height: min-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
div.scroll {
  height: 100%;
  overflow-y: scroll;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/* ##### Titlebar and Footer ##### */
#titlebar {
  display: block;
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 20;
}

#footer {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 100%;
}

#footer > div.footer-msg-container {
  display: flex;
  height: inherit;
  flex-direction: row;
  justify-content: space-between;
}

#footer > div div {
  display: flex;
  align-items: center;
  height: inherit;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
}

#footer-state-msg {
  overflow: hidden;
  
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#window-menu {
  box-sizing: border-box;
  height: 40px;
  -webkit-app-region: no-drag;
}

#window-filler {
  width: 100%;
  grid-column: 3;
  height: 40px;
  box-sizing: border-box;
}

#window-menu nav {
  width: max-content;
  height: 40px;
  margin-bottom: 0px!important;
}

#window-menu a {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 2px 16px 2px 16px;
}

#window-controls.electron {
  display: grid;
  grid-column: 4;
  grid-template-columns: repeat(3, 40px);
  height: 40px;
  box-sizing: border-box;
}

#window-controls.web {
  display: grid;
  grid-column: 4;
  grid-template-columns: repeat(2, 48px);
  height: 40px;
  box-sizing: border-box;
  align-content: center;
  justify-items: end;
}

#window-controls > .radio-group {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 18px;
  border: 0;
  border-radius: 0;
}
#window-controls label.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 18px;
  border: 0;
  font-size: 12px;
  border-radius: 0;
  padding: 0;
}

#window-controls #light-toggle {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  padding: 0;
}
#window-controls .title-button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  padding: 0;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .title-button {
  user-select: none;
}

#close-button:active svg {
  filter: invert(30%);
}

#window-title {
  display: flex;
  align-items: center;
  padding-left: 8px;
  overflow: hidden;
  font-size: 15px;
  font-variant-caps: all-petite-caps;
  padding-bottom: 1px;
  width: 100%;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

/* ###### Modal ###### */
.modal-container > div.modal-title {
  display: flex;
  flex-grow: 1;
  border-left: 0px!important;
  border-right: 0px!important;
  border-top: 0px!important;
  padding: 5px 16px;
  justify-content: flex-start;
}

.modal-container > div.modal-content {
  text-align: center;
  padding: 15px;
}

.modal-container > div.modal-action {
  display: flex;
  border-left: 0px!important;
  border-right: 0px!important;
  border-bottom: 0px!important;
  padding: 7px;
}

.modal-container {
  flex-direction: column;
  display: flex;
  align-self: center;
  margin: auto;
  min-width: 40%;
}


.modal-container.formation-action {
  width: 30%;
}

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0px;
  width: 100%;
}

.sidebar {
  min-width: 20%;
  width: 20%;
}

#formation-ship-search {
  display: none;
  position: fixed;
  width: calc(100% - 30px);
  flex-direction: row;
  z-index: 25;
}

.normal-fleet {
  top: 174px;
  min-height: calc(100% - 200px);
}
.siren-fleet {
  top: 230px;
  min-height: calc(100% - 255px);
}

.search-section-enter {
  opacity: 0;
  display: flex!important;
}
.search-section-active {
  display: flex!important;
  opacity: 1;
  transition: opacity 200ms;
}
.search-section-enter-done {
  opacity: 1;
  display: flex!important;
}
.search-section-exit {
  display: flex!important;
  opacity: 1;
}
.search-section-exit-active {
  display: flex!important;
  opacity: 0;
  transition: opacity 200ms;
}
.search-section-exit-done {
  opacity: 0;
  display: none;
}

#side-scroll {
  display: inline-flex;
  right: 5px;
  top: -4px;
  position: absolute;
}

/* ###### Buttons ###### */
button:disabled {
  cursor: default!important;
  opacity: 0.2;
}

button.btn.small {
  line-height: 1.2;
  font-size: 14px;
  padding: 0px 5px 2px 5px;
  min-width: 35px;
  font-variant-caps: all-petite-caps;
  border-radius: 0px;
}

button.btn.grid-item *,
label.btn,
label.btn *,
#side-scroll *,
button.tab-btn,
button.btn,
button.btn * {
  cursor: pointer;
  box-sizing: border-box;
}

label.btn,
button.btn {
  border-radius: 4px;
  display: inline-block;
}

button.btn.menu-item {
  border-radius: 0px;
}

button.btn.grid-item {
  padding: 3px 5px;
  white-space: nowrap;
  font-size: 15px;
  border: 0;
  background: unset;
}

button.btn.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 5px 5px 5px;
}

label.btn.normal,
button.btn.normal,
button.tab-btn.normal {
  font-size: 16px;
  font-variant-caps: all-petite-caps;
  padding: 0px 10px 2px 10px;
  justify-content: center;
  line-height: 1.2;
}
label.btn.normal.icon,
button.btn.normal.icon,
button.tab-btn.normal.icon {
  padding: 0px 10px 2px 5px;
}

/* ###### top-container + tab ##### */
.top-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
  margin-bottom: 10px;
}

.top-container > div {
  margin-top: 5px;
}

.top-container.fixed {
  position: fixed;
  margin-bottom: unset;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.tab > button.tab-btn {
  display: inline-block;
  border-right: 0px!important;
}

.tab > div.help {
  align-self: center;
  display: inline-block;
  line-height: 1.2;
  padding: 0px 2px 0px 2px;
}
.tab > div.help > .icon {
  vertical-align: middle;
}

nav > a {
  text-decoration: none;
  border: none;
  font-variant-caps: all-petite-caps;
  font-size: 18px;
}

button.icon *,
div.f-row.action *,
.rList .rList-item *,
.tab * {
  cursor: pointer;
}

.message-container {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-container > span.message {
  display: flex;
  font-size: 14px;
  height: inherit;
  padding: 4px 4px 4px 4px;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

/* ###### FORMATION DROPDOWN ###### */
.dropdown-toggle {
  min-width: 200px;
  max-width: 200px;
  display: flex;
  justify-content: space-between!important;
}

.dropdown-toggle > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 145px;
}

.toggle-icon {
  padding-top: 1px;
  margin-left: 10px;
  align-self: center;
  transition: 0.3s;
}

.toggle-icon.open {
  transform: rotate(-90deg);
}

.formation-dropdown-menu > .btn.menu-item {
  justify-content: flex-start;
  text-align: left;
  min-width: 200px;
  max-width: 200px;
}

.formation-dropdown-menu .btn {
  border-bottom: unset!important;
}

.btn.menu-item > span {
  width: inherit;
  border-top: unset;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.formation-dropdown-menu {
  display: flex;
  position: absolute;
  z-index: 15;
  flex-direction: column;
  transition: opacity 0.3s linear;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
}

.info-text {
  display: flex;
  height: 70%;
  width: 100%;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

/* Tooltip */
.tooltip {
  position: absolute;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  white-space: pre-line;
  z-index: 22;
  border-radius: 2px;
}

.tooltip > .tooltip-content {
  padding: 3px 8px;
}

.tooltip > .tooltip-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.tooltip > .tooltip-arrow::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
}

.tooltip > .tooltip-arrow.bottom {
  top: -4px;
}
.tooltip > .tooltip-arrow.left {
  right: -4px;
}
.tooltip > .tooltip-arrow.right {
  left: -4px;
}
.tooltip > .tooltip-arrow.top {
  bottom: -4px;
}
/* ###### popover ###### */
.popover-container {
  overflow: hidden; 
  position: absolute;
  z-index: 100;
  width: 19%;
  border-radius: 2px;
}

.popover-content > .f-grid > .f-row > .grid-item {
  margin-bottom: 1px;
  border-radius: 0px;
}

.popover-content > .f-grid  {
  margin-top: 1px;
  margin-left: 1px;
}

.popover-content > .f-grid > .f-row:last-child {
  margin-bottom: 0px;
}

.drag-over {
  border-radius: 4px!important;
}

.drag-over-invalid {
  border-radius: 4px!important;
}

/* ###### ship details / titlebar ##### */
.ship-title-bar {
  display: flex;
  border-left: 0px!important;
  border-right: 0px!important;
  padding: 5px 16px;
  font-size: 1.5em;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.ship-title-bar > span.ship-name { 
  margin-right: 10px;
}

/* #####  rList  ##### */

.rList {
  /*
  flex: 1 1 auto;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;*/
  flex: 1;
  height: 100%;
}

.hidden {
  display: none!important;
}

.owned-indicator {
  height: inherit;
  width: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rList .rList-item {
  display: flex;
  box-sizing: border-box;
  padding: 0px;
  border: unset;
  border-radius: 3px;
}

.rList .rList-item > div.hullTypeAbb {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 30%;
  height: 29px;
  border-radius: inherit;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
}

.rList .rList-item > div.name {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 5px;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  height: 29px;
  width: 100%;
  border-left: 1px solid transparent;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  border-radius: 4px;
}

.button-group.full-width {
  flex-grow: 1;
}

.button-group.full-width > button {
  flex: 1 1;
}

.radio-group label,
.button-group button {
  border-radius: 0px;
}
.radio-group label:first-child,
.button-group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.radio-group label:last-child,
.button-group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.borderless {
  border: unset!important;
}

.radio-group {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
}

.radio-group input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-group label {
  box-sizing: border-box;
  display: flex;
  flex: 1;
}

input[type="text"],
input[type="url"] {
  box-sizing: border-box;
  padding: 2px 0px 2px 6px;
  height: 31px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  min-width: 0;
  text-overflow: ellipsis;
}

#input-group {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  height: 35px;
  transition: background-color .2s ease-in, width 0.2s ease-in, color .2s ease-in;
}

.url-input {
  transition: box-shadow .2s ease-in, border .2s ease-in, background-color .2s ease-in, width 0.2s ease-in, color .2s ease-in;
}

.text-input:focus {
  flex-grow: 1;
}

button.btn > .icon {
  vertical-align: -.2em;
}

button.input {
  border-radius: 0px 4px 4px 0px;
}
button.input:hover {
  border-radius: 0px;
}

/* ##### GRID ##### */
.f-grid {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border-radius: 2px;
}

div.f-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

div.f-row.wrap {
  flex-wrap: wrap;
}


div.f-grid div.f-collapsible {
  display: flex;
  flex-direction: column;
  transition: flex 0.3s ease-out;
  margin-bottom: 5px;
}

div.f-grid div.f-collapsible.f-collapsed {
  display: none;
}

div.f-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: inherit;
  min-width: 0;
}

/* ##### GRID-ITEM ##### */
.grid-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: inherit;
  border-radius: 4px;
  min-width: 0;
  overflow: hidden;
  margin-right: 1px;
}

div.f-grid div.grid-item.toggle {
  flex-basis: auto;
}

div.f-row div.f-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: inherit;
}

div.f-row div.name {
  min-width: 160px;
  max-width: 160px;
  height: inherit;
  justify-content: center;
  padding: 3px 5px;
}

div.f-grid .grid-item.action {
  flex: 0;
  flex-basis: auto;
  flex-direction: row;
  padding: 1px 1px 1px 5px;
  min-height: 29px;
}

div.f-grid .grid-item.action {
  justify-content: center;
  align-items: center;
}

div.f-grid div.f-row div.passive {
  padding: 3px 5px;
  justify-content: center;
  font-size: 13px;
}

/* ##### f-title ##### */
div.f-grid div.f-title {
  display: flex;
  flex: 1 0;
  flex-basis: auto;
  font-size: 14px;
  padding: 2px 12px;
  margin-bottom: 2px;
  border-left: 0px!important;
  border-right: 0px!important;
  justify-content: center;
}
div.f-grid div.f-icon.plain,
div.f-grid div.f-title.plain {
  background-color: unset!important;
  border: 0!important;
  justify-content: unset!important;
}

div.f-grid div.f-fleet {
  display: flex;
  flex-basis: auto;
  font-size: 14px;
  padding: 3px 12px;
  margin-bottom: 2px;
  border-left: 0px!important;
  border-right: 0px!important;
  justify-content: center;
}

div.f-grid div.f-icon {
  display: flex;
  align-items: center;
  border-left: 0px!important;
  border-right: 0px!important;
  padding: 3px 12px;
  margin-bottom: 2px;
  transition: 0.3s;
}
div.f-row.action div.f-icon {
  cursor: pointer;
  transform: rotate(270deg);
  
}
div.f-grid div.f-icon.open {
  transform: rotate(180deg);
}

div.f-grid div.f-title.bottom-emp {
  flex: unset;
  width: 367px;
  border-top: unset!important;
  justify-content: flex-start;
}

div.f-grid div.f-icon.bottom-emp {
  border-top: unset!important;
}
/* https://dev.to/link2twenty/accessibility-first-toggle-switches-3obj */
.switch {
  display: inline-flex;
  align-items: center;
  margin: 5px 0;
  position: relative;
}

.switch .switch-toggle {
  cursor: pointer;
}

.switch .switch-toggle::before,
.switch .switch-toggle::after {
  content: '';
  background: #BDBDBD;
  margin: 0 3px;
  /* transition: all 100ms cubic-bezier(0.4, 0.0, 0.2, 1);*/
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: block;
}

.switch .switch-toggle::before {
  height: 1.3em;
  width: 3em;
  border-radius: 0.65em;
  background-color: #dedede;
  opacity: 0.6;
}

.switch .switch-toggle::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgb(245, 245, 245);
  width: 23px;
  height: 23px;
  border-radius: 9999em;
  box-shadow: 0 0 8px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.4);
  cursor: pointer;
}
.switch [type=checkbox]:checked+.switch-toggle::before,
.switch [type=checkbox]:checked+.switch-toggle::after {
  background-color: #72b352;
}

.switch [type=checkbox]:checked+.switch-toggle::after {
  transform: translate(calc(3em - 100%), -50%);
}


.switch [type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.toast-container {
  position: fixed;
  font-size: 13px;
  z-index: 999999;
  box-sizing: border-box;
}
.bottom-center {
  bottom: 15px;
  align-self: center;
  animation-name: toast-in-bottom;
  animation-duration: 0.4s;
}

.bottom-right {
  bottom: 15px;
  right: 15px;
  align-self: flex-end;
}

.from-right {
  animation-name: toast-in-right;
  animation-duration: 0.4s;
}
.to-right {
  animation-name: toast-to-right;
  animation-duration: 0.4s;
}
.bottom-left {
  animation-name: toast-in-left;
  animation-duration: 0.4s;
}

.toast-container .toast {
  display: flex;
  flex-direction: row;
  bottom: unset!important;
  right: unset!important;
  margin-bottom: 5px;
  position: relative;
  width: 300px;
  max-height: 100px;
  border-radius: 2px;
}

.toast > .toast-right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.toast-right-content > .toast-title {
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 14px;
  height: 100%;
  cursor: pointer;
}
.toast-right-content > .toast-message {
  display: flex;
  align-items: center;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  cursor: pointer;
  padding-bottom: 2px;
}

@keyframes toast-in-bottom {
	from {
	  transform: translateY(100%);
	  
	}
	to {
	  transform: translateY(0);
	}
}
@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-to-right {
	from {
	  transform: translateX(0%);
	  
	}
	to {
	  transform: translateX(100%);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}

@media only screen and (max-width: 900px) {
  div.grid-item.action > input[type="url"] {
    max-width: 450px;
  }
  div.grid-item.action > input[type="url"] {
    max-width: 550px;
  }
}

@media only screen and (max-width: 733px) {

}

@media only screen and (max-width: 576px) {
  #footer {
    display: none;
  }

  #fleet-selector {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
  }

  #side-scroll {
    display: inline-flex;
    right: 5px;
    top: 95px;
    position: fixed;
  }

  #formation-content > div.scroll {
    overflow-y: unset;
  }

  #formation-ship-search,
  .page-content {
    flex-direction: column;
    justify-content: unset;
    min-height: unset;
    margin-top: 1px;
  }

  .page-content.ships {
    overflow-y: scroll;
  }

  .page-content.formations > .container.content {
    min-height: calc(100% - 60px);
    overflow-y: scroll;
    margin-bottom: 25px;
  }
  #formation-ship-search {
    overflow-y: scroll;
    top: 40px;
    left: 0;
    min-height: calc(100% - 40px);
    height: calc(100% - 40px);
    width: 100%;
  }
  .page-content .container.content,
  .page-content .container.sidebar {
    width: calc(100% - 30px);
    min-height: calc(100% - 30px);
  }

  .popover-container {
    width: 80%;
  }

  /* .rList .rList-item.btn > .hullTypeAbb,*/
  #formation-content .name.f-header,
  #formation-content .passive.f-header,
  #window-title {
    display: none;
  }

  .f-row.passive-list,
  #formation-grid .f-row {
    flex-direction: column;
  }
  #formation-grid #vanguard-section > div.f-row > button,
  #formation-grid #main-section > div.f-row > button {
    margin-bottom: 1px;
  }
  #passive-section div.f-grid div.f-row.action {
    flex-direction: row;
  }

  .tab {
    justify-content: flex-start;
  }

  .tab > button.tab-btn {
    flex-grow: 1;
  }

  .message-container {
    width: 100%;
  }

  .message-container > .message {
    flex-grow: 1;
  }

  .radio-group label.btn.normal {
    padding: 0px 2px 2px 2px;
  }

  .f-row > div.name.f-header,
  .f-row > div.passive.f-header {
    min-width: unset;
    max-width: unset;
  }

  .page .small-hidden,
  .f-row.small-hidden {
    display: none!important;
  }
  .page {
    margin-bottom: 0px;
    max-height: calc(100% - 40px);
  }
}
/* ##### Light theme ##### */
:root {
  --root-light-bg: #fdfdff;
  --main-light-color: #2f2f2f;
  --main-light-titlebar-color: #2f2f2f;
  --main-light-bg: #cce7ff;
  --main-light-hover-bg: #81bdf5;
  --main-light-border: #55aeff;
  --main-light-active-bg: #81bdf5;
  --main-light-footer-bg: #efefef;
  --main-light-tooltip-bg: #d3eaff;
  --main-light-tooltip-border: #bcd0ff;
  --main-light-titlebar-bg: #55aeff;
}

/* ##### Scrollbar ##### */
.light ::-webkit-scrollbar {     
  background-color: var(--root-light-bg);
  width: 8px;
}

.light ::-webkit-scrollbar-track {
  background-color: var(--root-light-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  border: 1px solid var(--main-light-border);
  border-radius: 5px;
}
.light ::selection {
  background-color: #3c9efb;
}
.light ::-webkit-scrollbar-thumb {
  background-color: var(--main-light-border);
  border-radius: 5px;
}

.light * {
  scrollbar-width: thin;
  scrollbar-color: var(--main-light-border) var(--root-light-bg);
}

.light .no-focus-outline:focus,
.light .no-focus-outline:focus-within {
  outline: none!important;
  background-color: var(--main-light-bg);
}

.light :not(button):not(label):not(.switch-input):not(.modal-container):not(a):not(input):focus {
  outline: none;
  background-color: var(--main-light-hover-bg);
}

.light .switch [type=checkbox]:not(.no-focus-outline):focus + span.switch-toggle::after {
  outline: 1px solid var(--main-light-active-bg);
}

.light a:not(.no-focus-outline):focus,
.light a:not(.no-focus-outline):focus-within,
.light button:not(.no-focus-outline):focus,
#titlebar.light button.title-button:not(.no-focus-outline):focus {
  outline: none;
  background-color: var(--main-light-hover-bg);
}

.light .modal-container:focus {
  outline: none;
}

/* ##### Page ##### */
div.page.light {
  background-color: var(--root-light-bg);
  color: var(--main-light-color);
}

div.page.light .container {
  background-color: var(--root-light-bg);
}

div.page.light #side-scroll {
  -webkit-box-shadow: 0px 0px 6px -2px #000000;
  -moz-box-shadow: 0px 0px 6px -2px #000000;
  box-shadow: 0px 0px 6px -2px #000000;
}

/* ##### Titlebar ##### */
#titlebar.light {
  background: var(--main-light-titlebar-bg);
  color: var(--main-light-color);

}
#titlebar.light #window-title {
  color: white;
}

#titlebar.light .title-button {
  background-color: var(--main-light-titlebar-bg);
}

#titlebar.light #window-controls .title-button:hover,
#titlebar.light #window-controls .title-button:active {
  background: var(--main-light-hover-bg);
}

#titlebar.light #min-button {
  box-sizing: border-box;
  grid-column: 1;
}

#titlebar.light #max-button, #restore-button {
  box-sizing: border-box;
  color: white;
  grid-column: 2;
}

#titlebar.light #close-button {
  box-sizing: border-box;
  color: white;
  grid-column: 3;
}

#footer.light {
  background-color: var(--main-light-bg);
  border-top: 1px solid var(--main-light-border);
  color: black;
}

/* #### Modal #### */
.modal-overlay.light div.modal-title {
  border: 1px solid var(--main-light-border);
  background-color: var(--main-light-bg);
}

.modal-overlay.light div.modal-action {
  border: 1px solid var(--main-light-border);
}

.modal-overlay.light .modal-container {
  background-color: var(--root-light-bg);
  border: 3px double var(--main-light-border);
  border-radius: 2px;
  color: var(--main-light-color);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}

/* #### Tab #### */
div.page.light .tab {
  border: 1px solid var(--main-light-border);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-light-bg);
  box-sizing: border-box;
}

nav.tab.light {
  box-sizing: border-box;
}

nav.tab.light > a {
  color: white;
}

nav.tab.light > a.active {
  height: 40px!important;
  color: var(--main-light-color);
  background-color: var(--root-light-bg)!important;
}

nav.tab.light > a:hover {
  background-color: var(--main-light-hover-bg);
}

/* Tooltip */
.tooltip.light {
  border: 1px solid var(--main-light-border);
}

.tooltip.light > .tooltip-content {
  background-color: var(--root-light-bg);
  color: var(--main-light-color);
}

.tooltip.light > .tooltip-arrow::before {
  background-color: var(--root-light-bg);
}

.tooltip.light > .tooltip-arrow.bottom::before {
  border-left: 1px solid var(--main-light-border);
  border-top: 1px solid var(--main-light-border);
}
.tooltip.light > .tooltip-arrow.left::before {
  border-top: 1px solid var(--main-light-border);
  border-right: 1px solid var(--main-light-border);
}
.tooltip.light > .tooltip-arrow.right::before {
  border-left: 1px solid var(--main-light-border);
  border-bottom: 1px solid var(--main-light-border);
}
.tooltip.light > .tooltip-arrow.top::before {
  border-bottom: 1px solid var(--main-light-border);
  border-right: 1px solid var(--main-light-border);
}
/* ###### Buttons ###### */
label.light,
button.light {
  background-color: var(--main-light-bg);
  color: var(--main-light-color);
  border: 1px solid transparent;
}

button.light.input,
input[type="text"].light {
  color: inherit;
  background-color: inherit;
  border: unset;
}

.light .tab-btn:hover,
.btn.light:hover,
button.btn.grid-item.light:hover,
button.rList-item.light.btn:hover {
  /* background-color: var(--main-light-hover-bg);*/
  background-color: #a4d3ff;
  color: var(--main-light-color);
}

button.btn.light:disabled:hover,
button.tab-btn.light:disabled:hover {
  background-color: var(--main-light-bg);
}

label.btn.light.selected,
button.grid-item.btn.light.selected,
button.rList-item.light.btn.selected,
button.btn.light.selected,
button.tab-btn.light.selected {
  background-color: var(--main-light-active-bg);
  color: var(--main-light-color);
}

.rList-item.light:hover .owned-indicator {
  background-color: unset;
}

.rList-item.light.owned > .owned-indicator {
  background-color: var(--main-light-active-bg);
}

.rList-item.light.owned > .owned-indicator + .name {
  border-left: 1px solid var(--main-light-bg);
}
.rList-item.light > .owned-indicator + .name {
  border-left: 1px solid transparent;
}

/* #### Formation menu ##### */
.formation-dropdown-menu.light {
  border: 1px solid var(--main-light-border);
}

.formation-dropdown-menu.light .btn.menu-item:last-child {
  border-bottom: 1px solid var(--main-light-bg)!important;
}

/* #### Popover #### */
.popover-container.light {
  background-color: var(--root-light-bg);
  border: 3px double var(--main-light-border);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

/* #### ship title bar #### */
.light .ship-title-bar {
  border: 1px solid var(--main-light-border);
  background-color: var(--main-light-bg);
}

div.radio-group.light,
div.button-group.light {
  border: 1px solid var(--main-light-border);
}

.radio-group.light label,
.button-group.light button,
.page.light .tab button {
  border: 1px solid var(--main-light-bg);
}
/* #### Rarity colors #### */
.ship-title-bar > span.Super.Rare:last-child {
  color: PaleGoldenrod;
}

.ship-title-bar > span.Rare:last-child {
  color: powderblue;
}
.ship-title-bar > span.Ultra.Rare:last-child,
.ship-title-bar > span.Decisive:last-child {
  background-image: linear-gradient(to bottom right, #AFA 15%, #AAF, #FAA 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ship-title-bar > span.Elite:last-child {
  color: rgba(144, 98, 253, 0.616);
}

/* #### Input #### */


input[type="url"].light,
#input-group.light {
  color: var(--main-light-color);
  background-color: var(--main-light-bg);
  border: 2px solid var(--main-light-border);
}

input[type="url"].light:focus,
#input-group.light.input-focus {
  color: var(--main-light-color);
  background-color: #cce7ff34;
  border: 2px solid var(--main-light-border);
}

input[type="url"].light.is-invalid,
#input-group.light.is-invalid {
  border-color: rgb(110, 19, 19);
}

.grid-item.light > .drag-over {
  border: 2px dotted var(--main-light-border)!important;
  border-radius: 4px!important;
}

.grid-item.light > .drag-over-invalid {
  border: 2px dotted red!important;
  border-radius: 4px!important;
}
/* #### Grid #### */
div.f-grid.light div.f-header {
  border-bottom: 2px solid var(--main-light-border);
}
div.f-grid.light div.f-title {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}

div.f-grid.light div.f-fleet {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}
div.f-grid.light div.f-icon {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}

/* #### hull types #### */
.btn.light.Carrier {
  background-color: Plum;
  color: #510051;
}

.btn.light.Battleship, 
.btn.light.Battlecruiser {
  background-color: Pink;
  color: #6c0013;
}

.btn.light.Large.Cruiser {
  background-color: LightSalmon;
  color: #551800;
}
.btn.light.Destroyer {
  background-color: powderblue;
  color: #005560;
}
.btn.light.Submarine {
  background-color: PaleGreen;
  color: #006200;
}

.btn.light.Heavy.Cruiser,
.btn.light.Monitor,
.btn.light.Light.Cruiser {
  background-color: NavajoWhite;
  color: #774700;
}

.btn.light.Repair.Ship,
.btn.light.Repair {
  background-color: Aquamarine;
  color: #005b3d;
}

/* #### grid icon #### */
div.f-grid.light div.f-icon {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}

/* #### grid title #### */
div.f-grid.light div.f-icon.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-light-border);
}
div.f-grid.light div.f-title.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-light-border);
}

/* #### rarity #### */
div.f-grid.light div.f-row.pink {
  border-bottom: 2px solid rgba(255, 192, 203, 1);
  background-color: var(--main-light-bg);
}
/* #### rarity #### */
div.f-grid.light div.f-row.gold {
  background-color: var(--main-light-bg);
  border-bottom: 2px solid rgba(255, 215, 0, 1);
}

div.f-grid.light div.f-row.deepskyblue {
  background-color: var(--main-light-bg);
  border-bottom: 2px solid rgba(0, 191, 255, 1);
}

.toast-container.light > .toast,
.message-container.light {
  color: var(--main-light-color);
  border: 1px solid var(--main-light-border);
  background-color: var(--main-light-bg);
  /* box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;*/
}
.toast-container.light > .toast {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;
}
.toast-container.light > .toast:hover {
  box-shadow: 0px 0px 3px 0px var(--main-light-active-bg);
}

.toast-container.light .toast.warning {
  background-color: rgb(109, 109, 0);
}
.toast-container.light .toast.error {
  background-color: #380000;
}

@media only screen and (max-width: 1340px) {
}

@media only screen and (max-width: 900px) {

}
/* ##### DARK ##### */
:root {
  --root-dark-bg: #1f1f1f;
  --main-dark-bg: #2f2f2f;
  --main-dark-border: #40556b;
  --main-dark-titlebar-color: rgb(184, 184, 184);
  --main-dark-color: rgb(184, 184, 184);
  /* --main-dark-hover-bg: #40556b;*/
  --main-dark-hover-bg: #3c4652;
  --main-dark-hover-color: #98caff;
  --main-dark-button-top-bg: #26313a;
  --main-dark-button-bottom-bg: #1b2127;
  --main-dark-selected-bottom-bg: #2a2e35;
  --main-dark-active-bg: #40556b;
  --main-dark-tooltip-bg: #1b1d24;
  --main-dark-tooltip-border: #3f4657;
  --main-dark-item-bg: #21252f;
  --main-dark-footer-titlebar-bg: #202023;
}

/* ##### Scrollbar ##### */
.dark ::-webkit-scrollbar {     
  background-color: var(--root-dark-bg);
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--root-dark-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  border: 1px solid var(--main-dark-border);
  border-radius: 5px;
}
.dark ::selection {
  background-color: #3c9efb;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-border);
  border-radius: 5px;
}
.dark * {
  scrollbar-width: thin;
  scrollbar-color: var(--main-dark-border) var(--root-dark-bg);
}
.dark .no-focus-outline:focus,
.dark .no-focus-outline:focus-within {
  outline: none!important;
  background-color: var(--main-dark-bg);
}

.dark :not(button):not(label):not(.switch-input):not(.modal-container):not(a):not(input):focus {
  outline: none;
  background-color: var(--main-dark-border);
}

.dark .switch [type=checkbox]:not(.no-focus-outline):focus + span.switch-toggle::after {
  outline: 1px solid var(--main-dark-active-bg);
}

.dark a:not(.no-focus-outline):focus,
.dark a:not(.no-focus-outline):focus-within,
.dark button:not(.no-focus-outline):focus,
#titlebar.dark button.title-button:not(.no-focus-outline):focus {
  outline: none;
  background-color: var(--main-dark-border);
}

.dark .modal-container:focus {
  outline: none;
}

.dark a:link,
.dark a:visited {
  color: var(--main-dark-color);
}

.dark a:hover,
.dark a:active {
  color: var(--main-dark-hover-color);
  background-color: unset;
}


/* ##### Page ##### */
div.page.dark {
  background-color: var(--root-dark-bg);
  color: var(--main-dark-color);
}

div.page.dark .container {
  background-color: var(--root-dark-bg);
}
div.modal-overlay.dark #side-scroll,
div.page.dark #side-scroll {
  border-radius: 4px;
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}
/* ##### Titlebar ##### */
#titlebar.dark {
  background: var(--main-dark-bg);
  color: var(--main-dark-color);

}
#titlebar.dark #window-title {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-menu {
  background-color: var(--main-dark-bg);
  border-bottom: 1px solid var(--main-dark-border);
}

#titlebar.dark #window-filler {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark .title-button {
  border-bottom: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark #window-controls .title-button:hover,
#titlebar.dark #window-controls .title-button:active {
  background: var(--main-dark-hover-bg);
}

#titlebar.dark #window-controls {
  border-bottom: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark svg {
  fill: var(--main-dark-color);
}

#titlebar.dark #min-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 1;
}

#titlebar.dark #max-button, #restore-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 2;
}

#titlebar.dark #close-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 3;
}

#footer.dark {
  background: var(--main-dark-bg);
  border-top: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}

#bottom-fleet-selector.dark {
  background: var(--main-dark-bg);
  border-top: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}
/* #### Modal #### */
.modal-overlay.dark div.modal-title {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-bg);
}

.modal-overlay.dark div.modal-action {
  border: 1px solid var(--main-dark-border);
}

.modal-overlay.dark .modal-container {
  background-color: var(--root-dark-bg);
  border: 3px double var(--main-dark-border);
  border-radius: 2px;
  color: var(--main-dark-color);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}

/* #### Tab #### */
div.page.dark .tab {
  /* overflow: hidden;*/
  border: 1px solid var(--main-dark-border);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-dark-bg);
  box-sizing: border-box;
}

nav.tab.dark {
  box-sizing: border-box;
  /* justify-content: space-between;*/
  border-bottom: 1px solid var(--main-dark-border);
}

nav.tab.dark > a {
  color: rgba(184, 184, 184, 0.4);
  border-right: 1px solid var(--main-dark-bg);
  border-left: 1px solid var(--main-dark-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

nav.tab.dark > a.active {
  height: 40px!important;
  color: var(--main-dark-color);
  box-shadow: 0px -4px 3px #00000099;
  background-color: var(--root-dark-bg)!important;
  border-bottom: 1px solid transparent;
  border-right: 1px solid var(--main-dark-border);
  border-left: 1px solid var(--main-dark-border);
}

nav.tab.dark > a.active > span {
  position: relative;
  top: -1px;
}

nav.tab.dark > a:hover {
  color: var(--main-dark-color);
}

/* Tooltip */
.tooltip.dark {
  border: 1px solid var(--main-dark-tooltip-border);
}

.tooltip.dark > .tooltip-content {
  background-color: var(--root-dark-bg);
  color: var(--main-dark-color);
}

.tooltip-arrow::before {
  background-color: var(--root-dark-bg);
}

.tooltip.dark > .tooltip-arrow.bottom::before {
  border-left: 1px solid var(--main-dark-tooltip-border);
  border-top: 1px solid var(--main-dark-tooltip-border);
}
.tooltip.dark > .tooltip-arrow.left::before {
  border-top: 1px solid var(--main-dark-tooltip-border);
  border-right: 1px solid var(--main-dark-tooltip-border);
}
.tooltip.dark > .tooltip-arrow.right::before {
  border-left: 1px solid var(--main-dark-tooltip-border);
  border-bottom: 1px solid var(--main-dark-tooltip-border);
}
.tooltip.dark > .tooltip-arrow.top::before {
  border-bottom: 1px solid var(--main-dark-tooltip-border);
  border-right: 1px solid var(--main-dark-tooltip-border);
}
/* ###### Buttons ###### */
label.dark,
button.dark {
  background-color: var(--main-dark-bg);
  color: var(--main-dark-color);
  border: 1px solid transparent;
}

.dark .tab-btn:hover,
.btn.dark:hover,
button.btn.grid-item.dark:hover,
button.rList-item.dark.btn:hover {
  /* background-color: var(--main-dark-hover-bg);*/
  /* TODO: Check colors with electron for window controls */
  background-color: #3c4652;
  color: var(--main-dark-hover-color);
}

.btn.dark:hover > svg {
  stroke: var(--main-dark-hover-color);
}

button.btn.dark:disabled:hover,
button.tab-btn.dark:disabled:hover {
  background-color: var(--main-dark-bg);
}

label.btn.dark.selected,
button.grid-item.btn.dark.selected,
button.rList-item.dark.btn.selected,
button.btn.dark.selected,
button.tab-btn.dark.selected {
  background-color: var(--main-dark-active-bg);
  color:#98caff;
}
/* */
.rList-item.dark:hover .owned-indicator {
  background-color: unset;
}

.rList-item.dark.owned > .owned-indicator {
  /* background-color: var(--main-dark-active-bg);*/
  background-color: #40556b;
}


.rList-item.dark.owned > .owned-indicator + .name {
  border-left: 1px solid var(--main-dark-bg);
}
.rList-item.dark > .owned-indicator + .name {
  border-left: 1px solid transparent;
}

/* #### Formation menu ##### */
.formation-dropdown-menu.dark {
  border: 1px solid var(--main-dark-border);
}

.formation-dropdown-menu.dark .btn.menu-item:last-child {
  border-bottom: 1px solid var(--main-dark-bg)!important;
}

/* #### Popover #### */
.popover-container.dark {
  background-color: var(--root-dark-bg);
  border: 3px double var(--main-dark-border);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

/* #### ship title bar #### */
.dark .ship-title-bar {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-bg);
}

div.radio-group.dark,
div.button-group.dark {
  border: 1px solid var(--main-dark-border);
}

.radio-group.dark label,
.button-group.dark button,
.page.dark .tab button {
  border: 1px solid var(--main-dark-bg);
}

/* #### Rarity colors #### */
.ship-title-bar > span.Super.Rare:last-child {
  color: PaleGoldenrod;
}

.ship-title-bar > span.Rare:last-child {
  color: powderblue;
}
.ship-title-bar > span.Ultra.Rare:last-child,
.ship-title-bar > span.Decisive:last-child {
  background-image: linear-gradient(to bottom right, #AFA 15%, #AAF, #FAA 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ship-title-bar > span.Elite:last-child {
  color: rgba(144, 98, 253, 0.616);
}

/* #### Input #### */
input[type="text"].dark,
button.input.dark {
  color: inherit;
  background-color: inherit;
  border: unset;
}

input[type="url"].dark,
#input-group.dark {
  color: var(--main-dark-color);
  background-color: var(--main-dark-bg);
  border: 2px solid var(--main-dark-border);
}

input[type="url"].dark:focus,
#input-group.dark.input-focus {
  color: var(--main-dark-color);
  background-color: rgba(0,0,0,0.45);
  border: 2px solid var(--main-dark-border);
}

input[type="url"].dark.is-invalid,
#input-group.dark.is-invalid {
  border-color: rgb(110, 19, 19);
}

.grid-item.dark > .drag-over {
  border: 2px dotted var(--main-dark-border)!important;
  border-radius: 4px!important;
}

.grid-item.dark > .drag-over-invalid {
  border: 2px dotted red!important;
  border-radius: 4px!important;
}

/* #### Grid #### */
div.f-grid.dark div.f-header {
  border-bottom: 2px solid var(--main-dark-border);
}
div.f-grid.dark div.f-title,
div.f-grid.dark div.f-fleet,
div.f-grid.dark div.f-icon {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
}

/* #### hull types #### */
.btn.dark.Carrier {
  background-color: #352035;
  color: #d77dd7;
}

.btn.dark.Battleship, 
.btn.dark.Battlecruiser {
  background-color: #3e1c1a;
  color: #ff726a;
}

.btn.dark.Large.Cruiser {
  background-color: #5a3023;
  color: #ff8560;
}

.btn.dark.Destroyer {
  /* background-color: #203844;*/
  background-color: #203844;
  color: #68b3d9;
}

.btn.dark.Submarine {
  background-color: #3a4d21;
  color: #95c655;
}
.btn.dark.Heavy.Cruiser,
.btn.dark.Monitor,
.btn.dark.Light.Cruiser {
  /* background-color: #503c1e; */
  background-color: #503c1e;
  color: #dfa854;
}

.btn.dark.Repair {
  background-color: #1a4638;
  color: #48caa1;
}

/* #### grid title #### */
div.f-grid.dark div.f-icon.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-dark-border);
}
div.f-grid.dark div.f-title.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-dark-border);
}

/* #### rarity #### */
div.f-grid.dark div.f-row.pink {
  border-bottom: 2px solid rgba(255, 192, 203, 0.50);
  background-color: var(--main-dark-bg);
}
/* #### rarity #### */
div.f-grid.dark div.f-row.gold {
  background-color: var(--main-dark-bg);
  border-bottom: 2px solid rgba(255, 215, 0, 0.50);
}

div.f-grid.dark div.f-row.deepskyblue {
  background-color: var(--main-dark-bg);
  border-bottom: 2px solid rgba(0, 191, 255, 0.50);
}

.toast-container.dark > .toast,
.message-container.dark {
  color: var(--main-dark-color);
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-bg);
  /* box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;*/
}
.toast-container.dark > .toast {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;
}
.toast-container.dark > .toast:hover {
  box-shadow: 0px 0px 3px 0px var(--main-dark-active-bg);
}

.toast-container.dark .toast.warning {
  background-color: rgb(109, 109, 0);
}
.toast-container.dark .toast.error {
  background-color: #380000;
}

@media only screen and (max-width: 1340px) {
}

@media only screen and (max-width: 900px) {

}

