html {
  height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

#root, #root > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body, nav, header {
  display: flex;
}

form {
  margin-bottom: 0px;
}

dt {
  font-weight: bold;
}

dl,
dd {
  font-size: .9rem;
}

dd {
  margin-bottom: 0.5em;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 25px;
  max-height: calc(100% - 65px);
}

.page-content {
  height: 100%;
  min-height: min-content;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
div.scroll {
  height: 100%;
  overflow-y: scroll;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}


/* ##### Titlebar and Footer ##### */
#titlebar {
  display: block;
  position: fixed;
  height: 40px;
  width: 100%;
  z-index: 20;
}

#footer {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 100%;
}

#footer > div.footer-msg-container {
  display: flex;
  height: inherit;
  flex-direction: row;
  justify-content: space-between;
}

#footer > div div {
  display: flex;
  align-items: center;
  height: inherit;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
}

#footer-state-msg {
  overflow: hidden;
  
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#window-menu {
  box-sizing: border-box;
  height: 40px;
  -webkit-app-region: no-drag;
}

#window-filler {
  width: 100%;
  grid-column: 3;
  height: 40px;
  box-sizing: border-box;
}

#window-menu nav {
  width: max-content;
  height: 40px;
  margin-bottom: 0px!important;
}

#window-menu a {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 2px 16px 2px 16px;
}

#window-controls.electron {
  display: grid;
  grid-column: 4;
  grid-template-columns: repeat(3, 40px);
  height: 40px;
  box-sizing: border-box;
}

#window-controls.web {
  display: grid;
  grid-column: 4;
  grid-template-columns: repeat(2, 48px);
  height: 40px;
  box-sizing: border-box;
  align-content: center;
  justify-items: end;
}

#window-controls > .radio-group {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 18px;
  border: 0;
  border-radius: 0;
}
#window-controls label.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 18px;
  border: 0;
  font-size: 12px;
  border-radius: 0;
  padding: 0;
}

#window-controls #light-toggle {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  padding: 0;
}
#window-controls .title-button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  padding: 0;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .title-button {
  user-select: none;
}

#close-button:active svg {
  filter: invert(30%);
}

#window-title {
  display: flex;
  align-items: center;
  padding-left: 8px;
  overflow: hidden;
  font-size: 15px;
  font-variant-caps: all-petite-caps;
  padding-bottom: 1px;
  width: 100%;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

/* ###### Modal ###### */
.modal-container > div.modal-title {
  display: flex;
  flex-grow: 1;
  border-left: 0px!important;
  border-right: 0px!important;
  border-top: 0px!important;
  padding: 5px 16px;
  justify-content: flex-start;
}

.modal-container > div.modal-content {
  text-align: center;
  padding: 15px;
}

.modal-container > div.modal-action {
  display: flex;
  border-left: 0px!important;
  border-right: 0px!important;
  border-bottom: 0px!important;
  padding: 7px;
}

.modal-container {
  flex-direction: column;
  display: flex;
  align-self: center;
  margin: auto;
  min-width: 40%;
}


.modal-container.formation-action {
  width: 30%;
}

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 30;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0px;
  width: 100%;
}

.sidebar {
  min-width: 20%;
  width: 20%;
}

#formation-ship-search {
  display: none;
  position: fixed;
  /* width: calc(100% - 30px);*/
  width: 100%;
  flex-direction: row;
  z-index: 25;
  /* overflow: hidden;*/
}

.normal-fleet {
  top: 186px;
  min-height: calc(100% - 211px);
}

.normal-fleet.sub-fleet {
  top: 245px;
  min-height: calc(100% - 270px);
}

.siren-fleet {
  top: 250px;
  min-height: calc(100% - 275px);
}

.siren-fleet.sub-fleet {
  top: 309px;
  min-height: calc(100% - 334px);
}
.search-section-enter {
  opacity: 0;
  display: flex!important;
}
.search-section-enter-active {
  display: flex!important;
  opacity: 1;
  transition: opacity 300ms;
}
.search-section-enter-done {
  opacity: 1;
  display: flex!important;
}
.search-section-exit {
  display: flex!important;
  opacity: 1;
}
.search-section-exit-active {
  display: flex!important;
  opacity: 0;
  transition: opacity 300ms;
}
.search-section-exit-done {
  opacity: 0;
  display: none;
}

#side-scroll {
  display: inline-flex;
  right: 5px;
  top: 0px;
  position: absolute;
}

/* ###### Buttons ###### */
button:disabled {
  cursor: default!important;
  opacity: 0.2;
}

button.btn.small {
  /* line-height: 1.2;*/
  font-size: 14px;
  padding: 0px 5px 2px 5px;
  min-width: 35px;
  font-variant-caps: all-petite-caps;
  border-radius: 0px;
}

button.btn.grid-item *,
label.btn,
label.btn *,
#side-scroll *,
button.tab-btn,
button.btn,
button.btn * {
  cursor: pointer;
  box-sizing: border-box;
}

label.btn,
button.btn {
  border-radius: 4px;
  display: inline-block;
}

button.btn.menu-item {
  border-radius: 0px;
}

button.btn.grid-item {
  padding: 3px 5px;
  white-space: nowrap;
  font-size: 15px;
  border: 0;
  background: unset;
}

button.btn.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 5px 5px 5px;
}

label.btn.normal,
button.btn.normal,
button.tab-btn.normal {
  font-size: 16px;
  font-variant-caps: all-petite-caps;
  padding: 0px 10px 2px 10px;
  justify-content: center;
  /* line-height: 1.2;*/
}
label.btn.normal.icon,
button.btn.normal.icon,
button.tab-btn.normal.icon {
  padding: 0px 10px 2px 5px;
}

label.btn.normal.icon-only,
button.btn.normal.icon-only,
button.tab-btn.normal.icon-only {
  padding: 0px 5px 0px 5px;
}

/* ###### top-container + tab ##### */
.top-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 100%;
  margin-bottom: 10px;
}

.top-container > div {
  margin-top: 5px;
}

.top-container.fixed {
  position: fixed;
  margin-bottom: unset;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.tab > button.tab-btn {
  display: inline-block;
  border-right: 0px!important;
}

.tab > div.help {
  align-self: center;
  display: inline-block;
  line-height: 1.2;
  padding: 0px 2px 0px 2px;
}
.tab > div.help > .icon {
  vertical-align: middle;
}

nav > a {
  text-decoration: none;
  border: none;
  font-variant-caps: all-petite-caps;
  font-size: 18px;
}

button.icon *,
div.f-row.action *,
.rList .rList-item *,
.tab * {
  cursor: pointer;
}

.message-container {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-container > span.message {
  display: flex;
  font-size: 14px;
  height: inherit;
  padding: 4px 4px 4px 4px;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

/* ###### FORMATION DROPDOWN ###### */
.dropdown-toggle {
  min-width: 200px;
  max-width: 200px;
  display: flex;
  justify-content: space-between!important;
}

.dropdown-toggle > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 145px;
}

.toggle-icon {
  padding-top: 1px;
  margin-left: 10px;
  align-self: center;
  transition: 0.3s;
}

.toggle-icon.open {
  transform: rotate(-90deg);
}

.formation-dropdown-menu > .btn.menu-item {
  justify-content: flex-start;
  text-align: left;
  min-width: 200px;
  max-width: 200px;
}

.formation-dropdown-menu .btn {
  border-bottom: unset!important;
}

.btn.menu-item > span {
  width: inherit;
  border-top: unset;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.formation-dropdown-menu {
  display: flex;
  position: absolute;
  z-index: 30;
  flex-direction: column;
  transition: opacity 0.3s linear;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
}

.info-text {
  display: flex;
  height: 70%;
  width: 100%;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

/* Tooltip */
.tooltip {
  position: absolute;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  white-space: pre-line;
  z-index: 22;
  border-radius: 4px;
}

.tooltip > .tooltip-content {
  padding: 3px 8px;
  border-radius: inherit;
}

.tooltip > .tooltip-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.tooltip > .tooltip-arrow::before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.39);
}

.tooltip > .tooltip-arrow.bottom {
  top: -4px;
}
.tooltip > .tooltip-arrow.left {
  right: -4px;
}
.tooltip > .tooltip-arrow.right {
  left: -4px;
}
.tooltip > .tooltip-arrow.top {
  bottom: -4px;
}
/* ###### popover ###### */
.popover-container {
  overflow: hidden; 
  position: absolute;
  z-index: 100;
  width: 19%;
  border-radius: 2px;
}

.popover-content > .f-grid > .f-row > .grid-item {
  margin-bottom: 1px;
  border-radius: 0px;
}

.popover-content > .f-grid  {
  margin-top: 1px;
  margin-left: 1px;
}

.popover-content > .f-grid > .f-row:last-child {
  margin-bottom: 0px;
}


.drag-over {
  border-radius: 4px!important;
}

.drag-over-invalid {
  border-radius: 4px!important;
}

/* ###### ship details / titlebar ##### */
.ship-title-bar {
  display: flex;
  border-left: 0px!important;
  border-right: 0px!important;
  padding: 5px 16px;
  font-size: 1.5em;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.ship-title-bar > span.ship-name { 
  margin-right: 10px;
}

/* #####  rList  ##### */

.rList {
  /*
  flex: 1 1 auto;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;*/
  flex: 1;
  height: 100%;
}

.hidden {
  display: none!important;
}

.owned-indicator {
  height: inherit;
  width: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rList .rList-item {
  display: flex;
  box-sizing: border-box;
  padding: 0px;
  border: unset;
  border-radius: 3px;
}

.rList .rList-item > div.hullTypeAbb {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 30%;
  height: 29px;
  border-radius: inherit;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
}

.rList .rList-item > div.name {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 5px;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  height: 29px;
  width: 100%;
  border-left: 1px solid transparent;
}

.shiplist-item-menu {
  
}

.button-group {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  border-radius: 4px;
}

.button-group.full-width {
  flex-grow: 1;
}

.button-group.full-width > button {
  flex: 1 1;
}

.radio-group label,
.button-group button {
  border-radius: 0px;
}
.radio-group label:first-child,
.button-group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.radio-group label:last-child,
.button-group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.borderless {
  border: unset!important;
}

.radio-group {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
}

.radio-group input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-group label {
  box-sizing: border-box;
  display: flex;
  flex: 1;
}

input[type="text"],
input[type="url"] {
  box-sizing: border-box;
  padding: 2px 0px 2px 6px;
  height: 31px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  min-width: 0;
  text-overflow: ellipsis;
}

#input-group {
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  height: 35px;
  transition: background-color .2s ease-in, width 0.2s ease-in, color .2s ease-in;
}

.url-input {
  transition: box-shadow .2s ease-in, border .2s ease-in, background-color .2s ease-in, width 0.2s ease-in, color .2s ease-in;
}

.text-input:focus {
  flex-grow: 1;
}

button.btn > .icon {
  vertical-align: -.2em;
}

button.input {
  border-radius: 0px 4px 4px 0px;
}
button.input:hover {
  border-radius: 0px;
}

/* ##### GRID ##### */
.f-grid {
  display: flex;
  flex-direction: column;
  padding: 1px;
  border-radius: 2px;
}

div.f-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

div.f-row.wrap {
  flex-wrap: wrap;
}


div.f-grid div.f-collapsible {
  display: flex;
  flex-direction: column;
  transition: flex 0.3s ease-out;
  margin-bottom: 5px;
}

div.f-grid div.f-collapsible.f-collapsed {
  display: none;
}

div.f-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: inherit;
  min-width: 0;
}

/* ##### GRID-ITEM ##### */
.grid-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: inherit;
  border-radius: 4px;
  min-width: 0;
  overflow: hidden;
  margin-right: 1px;
}

div.f-grid div.grid-item.toggle {
  flex-basis: auto;
}

div.f-row div.f-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: inherit;
}

div.f-row div.name {
  min-width: 160px;
  max-width: 160px;
  height: inherit;
  justify-content: center;
  padding: 3px 5px;
}

div.f-grid .grid-item.action {
  flex: 0;
  flex-basis: auto;
  flex-direction: row;
  padding: 1px 1px 1px 5px;
  min-height: 29px;
}

div.f-grid .grid-item.action {
  justify-content: center;
  align-items: center;
}

div.f-grid div.f-row div.passive {
  padding: 3px 5px;
  justify-content: center;
  font-size: 13px;
}

/* ##### f-title ##### */
div.f-grid div.f-title {
  display: flex;
  flex: 1 0;
  flex-basis: auto;
  font-size: 14px;
  padding: 2px 12px;
  margin-bottom: 2px;
  border-left: 0px!important;
  border-right: 0px!important;
  justify-content: center;
}
div.f-grid div.f-icon.plain,
div.f-grid div.f-title.plain {
  background-color: unset!important;
  border: 0!important;
  justify-content: unset!important;
}

div.f-grid div.f-fleet {
  display: flex;
  flex-basis: auto;
  font-size: 14px;
  padding: 3px 12px;
  margin-bottom: 2px;
  border-left: 0px!important;
  border-right: 0px!important;
  justify-content: center;
}

div.f-grid div.f-icon {
  display: flex;
  align-items: center;
  border-left: 0px!important;
  border-right: 0px!important;
  padding: 3px 12px;
  margin-bottom: 2px;
  transition: 0.3s;
}
div.f-row.action div.f-icon {
  cursor: pointer;
  transform: rotate(270deg);
  
}
div.f-grid div.f-icon.open {
  transform: rotate(180deg);
}

div.f-grid div.f-title.bottom-emp {
  flex: unset;
  width: 367px;
  border-top: unset!important;
  justify-content: flex-start;
}

div.f-grid div.f-icon.bottom-emp {
  border-top: unset!important;
}
/* https://dev.to/link2twenty/accessibility-first-toggle-switches-3obj */
.switch {
  display: inline-flex;
  align-items: center;
  margin: 5px 0;
  position: relative;
}

.switch .switch-toggle {
  cursor: pointer;
}

.switch .switch-toggle::before,
.switch .switch-toggle::after {
  content: '';
  background: #BDBDBD;
  margin: 0 3px;
  /* transition: all 100ms cubic-bezier(0.4, 0.0, 0.2, 1);*/
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: block;
}

.switch .switch-toggle::before {
  height: 1.3em;
  width: 3em;
  border-radius: 0.65em;
  background-color: #dedede;
  opacity: 0.6;
}

.switch .switch-toggle::after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgb(245, 245, 245);
  width: 23px;
  height: 23px;
  border-radius: 9999em;
  box-shadow: 0 0 8px rgba(0,0,0,0.2), 0 0 2px rgba(0,0,0,0.4);
  cursor: pointer;
}
.switch [type=checkbox]:checked+.switch-toggle::before,
.switch [type=checkbox]:checked+.switch-toggle::after {
  background-color: #72b352;
}

.switch [type=checkbox]:checked+.switch-toggle::after {
  transform: translate(calc(3em - 100%), -50%);
}


.switch [type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.toast-container {
  position: fixed;
  font-size: 13px;
  z-index: 999999;
  box-sizing: border-box;
}
.bottom-center {
  bottom: 15px;
  align-self: center;
  animation-name: toast-in-bottom;
  animation-duration: 0.4s;
}

.bottom-right {
  bottom: 15px;
  right: 15px;
  align-self: flex-end;
}

.from-right {
  animation-name: toast-in-right;
  animation-duration: 0.4s;
}
.to-right {
  animation-name: toast-to-right;
  animation-duration: 0.4s;
}
.bottom-left {
  animation-name: toast-in-left;
  animation-duration: 0.4s;
}

.toast-container .toast {
  display: flex;
  flex-direction: row;
  bottom: unset!important;
  right: unset!important;
  margin-bottom: 5px;
  position: relative;
  width: 300px;
  max-height: 100px;
  border-radius: 2px;
}

.toast > .toast-right-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.toast-right-content > .toast-title {
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 14px;
  height: 100%;
  cursor: pointer;
}
.toast-right-content > .toast-message {
  display: flex;
  align-items: center;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  cursor: pointer;
  padding-bottom: 2px;
}

@keyframes toast-in-bottom {
	from {
	  transform: translateY(100%);
	  
	}
	to {
	  transform: translateY(0);
	}
}
@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes toast-to-right {
	from {
	  transform: translateX(0%);
	  
	}
	to {
	  transform: translateX(100%);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}

@media only screen and (max-width: 900px) {
  div.grid-item.action > input[type="url"] {
    max-width: 450px;
  }
  div.grid-item.action > input[type="url"] {
    max-width: 550px;
  }
}

@media only screen and (max-width: 733px) {

}

@media only screen and (max-width: 576px) {
  #footer {
    display: none;
  }

  #fleet-selector {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
  }

  #side-scroll {
    display: inline-flex;
    right: 5px;
    top: 95px;
    position: fixed;
  }

  #formation-content > div.scroll {
    overflow-y: unset;
  }

  #formation-ship-search,
  .page-content {
    flex-direction: column;
    justify-content: unset;
    min-height: unset;
    margin-top: 1px;
  }

  .page-content.ships {
    overflow-y: scroll;
  }

  .page-content.formations > .container.content {
    min-height: calc(100% - 60px);
    overflow-y: scroll;
    margin-bottom: 25px;
  }
  #formation-ship-search {
    overflow-y: scroll;
    top: 40px;
    left: 0;
    min-height: calc(100% - 40px);
    height: calc(100% - 40px);
    width: 100%;
  }
  .page-content .container.content,
  .page-content .container.sidebar {
    width: calc(100% - 30px);
    min-height: calc(100% - 30px);
  }

  .popover-container {
    width: 80%;
  }

  /* .rList .rList-item.btn > .hullTypeAbb,*/
  #formation-content .name.f-header,
  #formation-content .passive.f-header,
  #window-title {
    display: none;
  }

  .f-row.passive-list,
  #formation-grid .f-row {
    flex-direction: column;
  }
  #formation-grid #vanguard-section > div.f-row > button,
  #formation-grid #main-section > div.f-row > button {
    margin-bottom: 1px;
  }
  #passive-section div.f-grid div.f-row.action {
    flex-direction: row;
  }

  .tab {
    justify-content: flex-start;
  }

  .tab > button.tab-btn {
    flex-grow: 1;
  }

  .message-container {
    width: 100%;
  }

  .message-container > .message {
    flex-grow: 1;
  }

  .radio-group label.btn.normal {
    padding: 0px 2px 2px 2px;
  }

  .f-row > div.name.f-header,
  .f-row > div.passive.f-header {
    min-width: unset;
    max-width: unset;
  }

  .page .small-hidden,
  .f-row.small-hidden {
    display: none!important;
  }
  .page {
    margin-bottom: 0px;
    max-height: calc(100% - 40px);
  }
}