/* ##### DARK ##### */
:root {
  /* --root-dark-bg: rgb(22, 23, 25);*/
  --root-dark-bg: #1f1f1f;
  /* --main-dark-bg: #1b1d24;*/
  /* --main-dark-bg: #2b2b2b;*/
  --main-dark-bg: #2f2f2f;
  /* --main-dark-border: #3f4657;*/
  --main-dark-border: #40556b;
  --main-dark-color: rgb(184, 184, 184);
  /* --main-dark-hover-bg: #272c3b;*/
  --main-dark-hover-bg: #40556b;
  /*
  --main-dark-button-top-bg: #272c3b;
  --main-dark-button-bottom-bg: #21252f;
  */
  --main-dark-button-top-bg: #26313a;
  --main-dark-button-bottom-bg: #1b2127;
  --main-dark-selected-bottom-bg: #2a2e35;
  /* --main-dark-active-bg: #363a46;*/
  --main-dark-active-bg: #40556b;
  --main-dark-tooltip-bg: #1b1d24e3;
  --main-dark-tooltip-border: #3f4657a6;
  --main-dark-item-bg: #21252f;
  --main-dark-footer-titlebar-bg: #202023;
}

/* ##### Scrollbar ##### */
.dark ::-webkit-scrollbar {     
  background-color: var(--root-dark-bg);
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--root-dark-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  border: 1px solid var(--main-dark-border);
  border-radius: 5px;
}
.dark ::selection {
  background-color: #3c9efb;
}
.dark ::-webkit-scrollbar-thumb {
  background-color:var(--main-dark-border);
  border-radius: 5px;
}

.dark :not(button):not(label):focus {
  outline: none;
  background-color: var(--main-dark-border);
}

.dark button:focus {
  outline: none;
  background-color: var(--main-dark-border);
}

.dark label.graphic:focus-within,
.dark button.graphic:focus {
  outline: 1px solid var(--main-dark-border);
}

/* ##### Page ##### */
div.page.dark {
  background-color: var(--root-dark-bg);
  color: var(--main-dark-color);
}

div.page.dark .ship-side-container,
.modal-overlay.dark .ship-side-container {
  border-right: 1px solid var(--main-dark-border);
}

/* ##### Titlebar ##### */
#titlebar.dark {
  background: var(--main-dark-bg);
  color: var(--main-dark-color);

}
#titlebar.dark #window-title {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-menu {
  background-color: var(--main-dark-bg);
  border-bottom: 1px solid var(--main-dark-border);
}

#titlebar.dark #window-filler {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-controls {
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-controls .title-button {
  border-bottom: 1px solid var(--main-dark-border);
}

#titlebar.dark #window-controls .title-button:hover,
#titlebar.dark #window-controls .title-button:active {
  background: var(--main-dark-hover-bg);
}

#titlebar.dark #min-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 1;
}

#titlebar.dark #max-button, #restore-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 2;
}

#titlebar.dark #close-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 3;
}

#footer.dark {
  background: var(--main-dark-footer-titlebar-bg);
  border-top: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}

/* #### Modal #### */
.modal-overlay.dark div.modal-title {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-bg);
}

.modal-overlay.dark div.modal-action {
  border: 1px solid var(--main-dark-border);
}

.modal-overlay.dark .modal-container {
  background-color: var(--root-dark-bg);
  border: 3px double var(--main-dark-border);
  border-radius: 2px;
  color: var(--main-dark-color);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}

/* #### Tab #### */
div.page.dark .tab {
  overflow: hidden;
  border: 1px solid var(--main-dark-border);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-dark-bg);
}

nav.tab.dark {
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-dark-border);
}

nav.tab.dark > a {
  color: rgba(184, 184, 184, 0.4);
  border-right: 1px solid var(--main-dark-bg);
  border-left: 1px solid var(--main-dark-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

nav.tab.dark > a.active {
  height: 32px!important;
  color: var(--main-dark-color);
  box-shadow: 0px -4px 3px #00000099;
  background-color: var(--root-dark-bg)!important;
  border-bottom: 1px solid transparent;
  border-right: 1px solid var(--main-dark-border);
  border-left: 1px solid var(--main-dark-border);
}

nav.tab.dark > a.active > span {
  position: relative;
  top: -1px;
}

nav.tab.dark > a:hover {
  color: var(--main-dark-color);
}

/* ###### Buttons ###### */
button.dark {
  background-color: var(--main-dark-bg);
  color: var(--main-dark-color);
  border: 1px solid var(--main-dark-bg);
}

.btn.graphic.dark:hover {
  background-color: var(--root-dark-bg);
  border: 1px solid #000000;
  background: linear-gradient(to bottom, var(--root-dark-bg) 10%, var(--main-dark-bg) 90%)!important;
	/* background: linear-gradient(to bottom, var(--main-dark-button-bottom-bg) 10%, var(--main-dark-button-top-bg) 100%);*/
  /* text-shadow: 0px 1px 0px var(--main-dark-border);*/
}

.btn.graphic.dark.selected {
  background: linear-gradient(to bottom, var(--main-dark-selected-bottom-bg) 10%,  var(--main-dark-active-bg) 100%)!important;
  text-shadow: 0px 1px 0px var(--main-dark-border);
  box-shadow: inset 1px 1px 1px #252525;
}

.btn.graphic.dark {
  border: 1px solid #000000;
  /* box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px; */
  box-shadow: inset 0px 1px 0px 0px var(--main-dark-active-bg);
  background: linear-gradient(to bottom, var(--main-dark-bg) 40%, var(--root-dark-bg) 90%);
  /*
  box-shadow: inset 0px 1px 0px 0px var(--main-dark-active-bg);
  background: linear-gradient(to bottom, var(--main-dark-button-top-bg) 10%, var(--main-dark-button-bottom-bg) 100%);
  border: 1px solid #000000;
  */
}

button.btn.dark:hover,
button.tab-btn.dark:hover {
  background-color: var(--main-dark-hover-bg);
  border: 1px solid var(--main-dark-bg);
}

button.btn.graphic.dark:disabled:hover {
  box-shadow: inset 0px 1px 0px 0px var(--main-dark-active-bg);
  background: linear-gradient(to bottom, var(--main-dark-bg) 10%, var(--root-dark-bg) 90%)!important;
  border: 1px solid #000000;
}

button.btn.dark:disabled:hover,
button.tab-btn.dark:disabled:hover {
  background-color: var(--main-dark-bg);
}

button.btn.dark.selected,
button.tab-btn.dark.selected {
  background-color: var(--main-dark-active-bg);
}

/* #### Formation menu ##### */
.formation-dropdown-menu.dark {
  border: var(--main-dark-border);
}

.formation-dropdown-menu.dark .btn.menu-item:first-child {
  border-top: 1px solid var(--main-dark-border);
}

/* #### Popover #### */
.popover-container.dark {
  background-color: var(--main-dark-bg);
  border: 3px double var(--main-dark-border);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

/* #### ship title bar #### */
.ship-title-bar > span.end-buttons.dark {
  border-top: 1px solid var(--main-dark-border);
}

.ship-title-bar > span.end-buttons.dark > button {
  border-bottom: 1px solid var(--main-dark-border)!important;
}

.page.dark .ship-data-container .ship-title-bar > div,
.modal-overlay.dark .ship-title-bar > div {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-bg);
}
.page.dark div.button-group,
.modal-overlay.dark div.button-group {
  border: 1px solid var(--main-dark-border);
}

/* #### Rarity colors #### */
.ship-title-bar > div > span.Super.Rare:last-child {
  color: PaleGoldenrod;
}

.ship-title-bar > div > span.Rare:last-child {
  color: powderblue;
}
.ship-title-bar > div > span.Ultra.Rare:last-child,
.ship-title-bar > div > span.Decisive:last-child {
  background-image: linear-gradient(to bottom right, #AFA 15%, #AAF, #FAA 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ship-title-bar > div > span.Elite:last-child {
  color: rgba(144, 98, 253, 0.616);
}

/* #### Input #### */
input[type="text"].dark {
  color: inherit;
  background-color: inherit;
  border: 0;
}

input[type="text"].dark:focus {
  background-color: inherit!important;
  border: unset!important;
}

input[type="url"].dark,
#input-group.dark {
  color: var(--main-dark-color);
  background-color: var(--main-dark-bg);
  border: 2px solid var(--main-dark-border);
}

input[type="url"].dark:focus,
#input-group.dark.input-focus {
  color: var(--main-dark-color)!important;
  background-color: rgba(0,0,0,0.45)!important;
  border: 2px solid var(--main-dark-border)!important;
}
button.clearIcon.dark:hover,
div.clearIcon.dark:hover {
  border: 1px solid var(--main-dark-bg)!important;
  background-color: var(--main-dark-hover-bg)!important;
}
#input-group.dark.input-focus > button.clearIcon.dark:hover,
#input-group.dark.input-focus > div.clearIcon.dark:hover {
  background-color: var(--main-dark-hover-bg)!important;
  border: 1px solid black!important;
}
/* #### Grid #### */
div.f-grid.dark div.f-header {
  border-bottom: 2px solid var(--main-dark-border);
}
div.f-grid.dark div.f-title {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
}

div.f-grid.dark div.f-fleet {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
}
div.f-grid.dark div.f-icon {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
}

/* #### hull types #### */
div.hullTypeAbb.Aircraft.Carrier {
  background-color: #352035;
}

div.hullTypeAbb.Battleship, 
div.hullTypeAbb.Battlecruiser {
  background-color: #3e1c1a;
}

div.hullTypeAbb.Large.Cruiser {
  background-color: #5a3023;
}
div.hullTypeAbb.Destroyer {
  background-color: #203844;
}
div.hullTypeAbb.Submarine {
  background-color: #3a4d21;
}
div.hullTypeAbb.Heavy.Cruiser,
div.hullTypeAbb.Monitor,
div.hullTypeAbb.Light.Cruiser {
  background-color: #503c1e;
}

div.hullTypeAbb.Repair.Ship,
div.hullTypeAbb.Repair {
  background-color: #1a4638;
}

/* #### grid icon #### */
div.f-grid.dark div.f-icon {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
}

/* #### grid title #### */
div.f-grid.dark div.f-icon.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-dark-border);
}
div.f-grid.dark div.f-title.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-dark-border);
}

/* #### rarity #### */
div.f-grid.dark div.f-row.pink {
  border-bottom: 2px solid rgba(255, 192, 203, 0.50);
  background-color: var(--main-dark-bg);
}
/* #### rarity #### */
div.f-grid.dark div.f-row.gold {
  background-color: var(--main-dark-bg);
  border-bottom: 2px solid rgba(255, 215, 0, 0.50);
}

div.f-grid.dark div.f-row.deepskyblue {
  background-color: var(--main-dark-bg);
  border-bottom: 2px solid rgba(0, 191, 255, 0.50);
}

.toast-container.dark > .toast,
.message-container.dark {
  color: var(--main-dark-color);
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-bg);
  box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;
}

.toast-container.dark > .toast:hover {
  box-shadow: 0px 0px 3px 0px var(--main-dark-active-bg);
}

.toast-container.dark .toast.warning {
  background-color: rgb(109, 109, 0);
}
.toast-container.dark .toast.error {
  background-color: #380000;
}

@media only screen and (max-width: 1340px) {
}

@media only screen and (max-width: 900px) {

}
