/* ##### DARK ##### */
:root {
  --root-dark-bg: #1f1f1f;
  --main-dark-header-bg: #2f2f2f;
  --main-dark-body-bg: #252525;
  --main-dark-border: #40556b;
  --main-dark-color: rgb(184, 184, 184);
  --main-dark-hover-bg: #3c4652;
  --main-dark-hover-color: #98caff;
  --main-dark-active-bg: #40556b;
  --main-dark-tooltip-bg: #2a2c31;
  --main-dark-tooltip-border: #3f4657;
}

/* ##### Scrollbar ##### */
.dark ::-webkit-scrollbar {     
  background-color: var(--root-dark-bg);
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--root-dark-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  border: 1px solid var(--main-dark-border);
  border-radius: 5px;
}
.dark ::selection {
  background-color: #3c9efb;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-border);
  border-radius: 5px;
}
.dark * {
  scrollbar-width: thin;
  scrollbar-color: var(--main-dark-border) var(--root-dark-bg);
}
.dark .no-focus-outline:focus,
.dark .no-focus-outline:focus-within {
  outline: none!important;
  background-color: unset;
}

.dark :not(button):not(label):not(.switch-input):not(.modal-container):not(a):not(input):focus {
  outline: none;
  background-color: var(--main-dark-border);
}

.dark .switch [type=checkbox]:not(.no-focus-outline):focus + span.switch-toggle::after {
  outline: 1px solid var(--main-dark-active-bg);
}

.dark a:not(.no-focus-outline):focus,
.dark a:not(.no-focus-outline):focus-within,
.dark button:not(.no-focus-outline):focus,
#titlebar.dark button.title-button:not(.no-focus-outline):focus {
  outline: none;
  background-color: var(--main-dark-hover-bg);
  color: var(--main-dark-hover-color);
}

.dark .modal-container:focus {
  outline: none;
}

.dark a:link,
.dark a:visited {
  color: var(--main-dark-color);
}

.dark a:hover,
.dark a:active {
  color: var(--main-dark-hover-color);
  background-color: unset;
}


/* ##### Page ##### */
div.page.dark {
  background-color: var(--root-dark-bg);
  color: var(--main-dark-color);
}

div.page.dark .container {
  background-color: var(--root-dark-bg);
  box-shadow: 0px 0px 20px 5px #0000005e;
}

div.page.dark #side-scroll {
  /*
  background-color: var(--main-dark-header-bg);
  border: 1px solid var(--main-dark-border);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;*/
  outline: 1px solid var(--main-dark-body-bg);
  
}

div.page.dark #side-scroll:hover {
  /*
  border-radius: 4px;
  background-color: var(--main-dark-header-bg);
  border: 1px solid var(--main-dark-border); */
  -webkit-box-shadow: 0px 0px 2px 2px #0000008f;
  -moz-box-shadow: 0px 0px 2px 2px #0000008f;
  box-shadow: 0px 0px 2px 2px #0000008f;
}
/* ##### Titlebar ##### */
#titlebar.dark {
  background: var(--main-dark-header-bg);
  color: var(--main-dark-color);

}
#titlebar.dark #window-title {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-menu {
  background-color: var(--main-dark-header-bg);
  border-bottom: 1px solid var(--main-dark-border);
}

#titlebar.dark #window-filler {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark .title-button {
  border-bottom: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark #window-controls .title-button:hover,
#titlebar.dark #window-controls .title-button:active {
  background: var(--main-dark-hover-bg);
}

#titlebar.dark #window-controls {
  border-bottom: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark svg {
  fill: var(--main-dark-color);
}

#titlebar.dark #min-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 1;
}

#titlebar.dark #max-button, #restore-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 2;
}

#titlebar.dark #close-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 3;
}

#footer.dark {
  background: var(--main-dark-header-bg);
  border-top: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}

#bottom-fleet-selector.dark {
  background: var(--main-dark-header-bg);
  border-top: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}

#formation-ship-search.dark {
  border-top: 3px solid var(--main-dark-border);
  background-color: var(--root-dark-bg);
}
/* #### Modal #### */
.modal-overlay.dark div.modal-title {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
}

.modal-overlay.dark div.modal-action {
  border: 1px solid var(--main-dark-border);
}

.modal-overlay.dark .modal-container {
  background-color: var(--root-dark-bg);
  border: 3px double var(--main-dark-border);
  border-radius: 2px;
  color: var(--main-dark-color);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}

/* #### Tab #### */
/*
div.page.dark .tab {
  border: 1px solid var(--main-dark-border);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-dark-header-bg);
}
*/
nav.tab.dark {
  align-self: unset!important;
  height: 40px;
}

nav.tab.dark > a {
  color: rgba(184, 184, 184, 0.4);
  border-right: 1px solid var(--main-dark-header-bg);
  border-left: 1px solid var(--main-dark-header-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

nav.tab.dark > a.active {
  height: 40px!important;
  color: var(--main-dark-color);
  box-shadow: 0px -4px 3px #00000099;
  background-color: var(--root-dark-bg)!important;
  border-bottom: 1px solid transparent;
  border-right: 1px solid var(--main-dark-border);
  border-left: 1px solid var(--main-dark-border);
}

nav.tab.dark > a.active > span {
  position: relative;
  top: -1px;
}

nav.tab.dark > a:hover {
  color: var(--main-dark-color);
}
#small-nav.navigation.dark {
  background-color: var(--main-dark-tooltip-bg);
  outline: 1px solid var(--main-dark-border);
}
#small-nav.navigation.dark > .nav-item:hover {
  background-color: var(--main-dark-hover-bg);
}
#small-nav.navigation.dark:hover {
  box-shadow: 0px 0px 5px 2px var(--main-dark-header-bg);
}
/* Tooltip */
.tooltip.dark > .tooltip-content {
  background-color: var(--main-dark-tooltip-bg);
  color: var(--main-dark-color);
}

.tooltip.dark li {
  background-color: var(--main-dark-body-bg);
  border-bottom: 1px dotted var(--main-dark-border);
}
/* ###### Buttons ###### */
label.dark,
button.dark {
  background-color: var(--main-dark-header-bg);
  color: var(--main-dark-color);
  border: 1px solid transparent;
}
button.btn.grid-item.dark:hover,
.btn.dark:hover {
  /* TODO: Check colors with electron for window controls */
  background-color: #3c4652;
  color: var(--main-dark-hover-color);
}

button.dark.tab-btn:hover {
  background-color: var(--main-dark-hover-bg);
  color: var(--main-dark-hover-color);
}

button.btn.rList-item.dark:hover {
  background-color: var(--main-dark-hover-bg);
  color: var(--main-dark-hover-color);
}

.btn.dark:hover svg {
  stroke: var(--main-dark-hover-color);
}

button.btn.dark:disabled:hover,
button.tab-btn.dark:disabled:hover {
  background-color: var(--main-dark-header-bg);
  color: var(--main-dark-color);
}

label.btn.dark.selected, 
button.grid-item.btn.dark.selected,
button.rList-item.dark.btn.selected,
button.btn.dark.selected,
button.tab-btn.dark.selected {
  background-color: var(--main-dark-active-bg);
  color:#98caff;
}

button.btn.rList-item.dark:active,
label.btn.dark:active,
button.btn.dark:active {
  background-color: var(--main-dark-active-bg);
}
button.dark.tab-btn:active {
  background-color: var(--main-dark-active-bg);
  box-shadow: 1px 1px 3px 0px var(--main-dark-header-bg) inset;
  -webkit-box-shadow: 1px 1px 3px 0px var(--main-dark-header-bg) inset;
  -moz-box-shadow: 1px 1px 3px 0px var(--main-dark-header-bg) inset;
}

.rList-item.dark:hover .owned-indicator {
  background-color: unset;
}

.rList-item.dark.owned > .owned-indicator /* + .name */ {
  background-color: var(--main-dark-border);
  border-right: 1px solid var(--main-dark-header-bg);
}
.rList-item.dark > .owned-indicator /* + .name */ {
  border-right: 1px solid transparent;
}

/* #### Formation menu ##### */
.formation-dropdown-menu.dark {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-body-bg);
}
/*
.formation-dropdown-menu.dark .btn.menu-item:last-child {
  border-bottom: 1px solid var(--main-dark-header-bg)!important;
}
*/
.dark #formation-grid {
  border-bottom: 1px solid var(--main-dark-border);
}

/* #### Popover #### */
.popover-container.dark {
  background-color: var(--root-dark-bg);
  border: 3px double var(--main-dark-border);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

/* #### ship title bar #### */
.ship-title-bar.dark {
  /* border-bottom: 2px solid var(--main-dark-border);*/
  background-color: var(--main-dark-header-bg);
  /*
  //border-bottom: 2px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
  border-radius: 5px;
  outline: 1px solid #1a1a1a;
  */
}

div.f-grid.dark .f-column.section,
.button-group.rounded.dark,
.radio-group.rounded.dark,
.ship-title-bar.rounded.dark {
  border: 1px solid #1a1a1a;
}

#theme-controls.navigation.dark > button.selected,
div.f-grid.dark div.tab-group,
div.page.dark .tab
/*div.radio-group.dark,
div.button-group.dark */{
  border-bottom: 2px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
}

/* #### Input #### */
input[type="text"].dark,
button.input.dark {
  color: inherit;
  background-color: inherit;
  border: unset;
}

input[type="url"].dark,
#input-group.dark {
  color: var(--main-dark-color);
  background-color: var(--main-dark-header-bg);
  border: 2px solid var(--main-dark-border);
}

input[type="url"].dark:focus,
#input-group.dark.input-focus {
  color: var(--main-dark-color);
  background-color: rgba(0,0,0,0.45);
  border: 2px solid var(--main-dark-border);
}

input[type="url"].dark.is-invalid,
#input-group.dark.is-invalid {
  border-color: rgb(110, 19, 19);
}

.grid-item.dark.drag-over {
  border: 2px dotted!important;
  border-radius: 4px!important;
}

.grid-item.dark.drag-over-invalid {
  border: 2px dotted red!important;
  border-radius: 4px!important;
}

/* #### Grid #### */
div.f-grid.dark div.f-icon,
div.f-grid.dark div.f-header {
  border-bottom: 2px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
}

div.f-grid.dark div.f-body {
  background-color: var(--main-dark-body-bg);
  /* border-bottom: 2px solid var(--main-dark-border);*/
}

div.f-grid.dark div.f-title
/* div.f-grid.dark div.f-icon */{
  background-color: var(--main-dark-header-bg);
  border-bottom: 1px solid var(--main-dark-border);
  border-top: 1px solid var(--main-dark-border);
}
div.f-row.dark div.f-header + div.f-icon,
div.f-row.dark div.f-header + div.tab-group > button:first-child {
  border-left: 2px dotted var(--main-dark-border);
}
/*
div.f-row.dark div.f-header + div.tab-group > button:last-child {
  border-right: 2px dotted var(--main-dark-border);
}
*/
/* #### hull types #### */

.grid-item.dark.ship.Carrier {
  background-color: #352035;
  color: #d77dd7;
}

.grid-item.dark.ship.Destroyer {
  background-color: #203844;
  color: #68b3d9;
}

.grid-item.dark.ship.Battleship, 
.grid-item.dark.ship.Battlecruiser {
  background-color: #3e1c1a;
  color: #ff726a;
}


.grid-item.dark.ship.Large.Cruiser {
  background-color: #5a3023;
  color: #ff8560;
}

.grid-item.dark.ship.Submarine {
  background-color: #3a4d21;
  color: #95c655;
}

.grid-item.dark.ship.Monitor,
.grid-item.dark.ship.Heavy.Cruiser,
.grid-item.dark.ship.Light.Cruiser {
  background-color: #503c1e;
  color: #dfa854;
}

.grid-item.dark.ship.Repair {
  background-color: #1a4638;
  color: #48caa1;
}

/* #### grid/table slot/stats #### */
table.f-table.dark .stat-item,
div.f-grid.dark .f-row > .stat-item {
  border-right: 1px solid var(--main-dark-border);
}

table.f-table.dark .stat-item:last-child {
  border-right: unset;
}
.dark #stat-section .f-column {
  border-right: 2px dotted var(--main-dark-border);
}
/* #### rarity #### */
div.f-grid.dark div.f-row.pink {
  border-bottom: 2px solid rgba(255, 192, 203, 0.50);
  /* background-color: var(--main-dark-header-bg);*/
  background-color: var(--main-dark-body-bg);
  border-radius: 0px;
}
/* #### rarity #### */
div.f-grid.dark div.f-row.gold {
  /* background-color: var(--main-dark-header-bg);*/
  background-color: var(--main-dark-body-bg);
  border-bottom: 2px solid rgba(255, 215, 0, 0.50);
  border-radius: 0px;
}

div.f-grid.dark div.f-row.deepskyblue {
  /* background-color: var(--main-dark-header-bg);*/
  background-color: var(--main-dark-body-bg);
  border-bottom: 2px solid rgba(0, 191, 255, 0.50);
  border-radius: 0px;
}

.toast-container.dark > .toast,
.message-container.dark {
  color: var(--main-dark-color);
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
  /* box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;*/
}
.toast-container.dark > .toast {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;
}
.toast-container.dark > .toast:hover {
  box-shadow: 0px 0px 3px 0px var(--main-dark-active-bg);
}

.toast-container.dark .toast.warning {
  background-color: rgb(109, 109, 0);
}
.toast-container.dark .toast.error {
  background-color: #380000;
}

@media only screen and (max-width: 1340px) {
}

@media only screen and (max-width: 695px) {
  /*
  #stat-section {
    margin-bottom: 12px;
  }
  */
  .dark #stat-section .f-column {
    border-right: unset;
  }

}

@media only screen and (max-width: 576px) {
  nav.tab.dark > a.active:first-child {
    border-left: 1px solid transparent;
  }
}