/* ##### DARK ##### */
:root {
  --root-dark-bg: #1f1f1f;
  --main-dark-header-bg: #2f2f2f;
  --main-dark-body-bg: #252525;
  --main-dark-border: #40556b;
  --main-dark-color: rgb(184, 184, 184);
  /* --main-dark-hover-bg: #3c4652;*/
  --main-dark-hover-bg: #38414d;;
  --main-dark-hover-color: #98caff;
  /* --main-dark-active-bg: #40556b;*/
  --main-dark-active-bg: #38414d;
  --main-dark-tooltip-bg: #2a2c31;
  --main-dark-tooltip-border: #3f4657;
}

/* ##### Scrollbar ##### */
.dark ::-webkit-scrollbar {     
  background-color: var(--root-dark-bg);
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--root-dark-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  border: 1px solid var(--main-dark-border);
  border-radius: 5px;
}
.dark ::selection {
  background-color: #3c9efb;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-border);
  border-radius: 5px;
}
.dark * {
  scrollbar-width: thin;
  scrollbar-color: var(--main-dark-border) var(--root-dark-bg);
}
.dark .no-focus-outline:focus,
.dark .no-focus-outline:focus-within {
  outline: none!important;
  /* background-color: unset;*/
}

.dark :not(button):not(label):not(.switch-input):not(.modal-container):not(a):not(input):not(.f-icon):focus {
  outline: none;
  background-color: var(--main-dark-border);
}

.dark .switch [type=checkbox]:not(.no-focus-outline):focus + span.switch-toggle::after {
  outline: 1px solid var(--main-dark-active-bg);
}

.dark a:not(.no-focus-outline):focus,
.dark a:not(.no-focus-outline):focus-within,
.dark button:not(.no-focus-outline):focus,
#titlebar.dark button.title-button:not(.no-focus-outline):focus {
  outline: none;
  background-color: var(--main-dark-hover-bg);
  color: var(--main-dark-hover-color);
}

.dark .modal-container:focus {
  outline: none;
}

.dark a:link,
.dark a:visited {
  color: var(--main-dark-color);
}

.dark a:hover,
.dark a:active {
  color: var(--main-dark-hover-color);
  background-color: unset;
}

/* ##### Page ##### */
div.page.dark {
  background-color: var(--root-dark-bg);
  color: var(--main-dark-color);
}

div.page.dark .container {
  background-color: var(--root-dark-bg);
  box-shadow: 0px 0px 20px 5px #0000004a;
}

/* ##### Titlebar ##### */
#titlebar.dark {
  background: var(--main-dark-header-bg);
  color: var(--main-dark-color);

}
#titlebar.dark #window-title {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-menu {
  background-color: var(--main-dark-header-bg);
  border-bottom: 1px solid var(--main-dark-border);
}

#titlebar.dark #window-filler {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark .title-button {
  border-bottom: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark #window-controls .title-button:hover,
#titlebar.dark #window-controls .title-button:active {
  background: var(--main-dark-hover-bg);
}

#titlebar.dark #window-controls {
  border-bottom: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}

#titlebar.dark svg {
  fill: var(--main-dark-color);
}

#titlebar.dark #min-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 1;
}

#titlebar.dark #max-button, #restore-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 2;
}

#titlebar.dark #close-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 3;
}

#footer.dark {
  background: var(--main-dark-header-bg);
  border-top: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}

#bottom-fleet-selector.dark {
  background: var(--main-dark-header-bg);
  border-top: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}

#formation-ship-search.dark {
  border-top: 3px solid var(--main-dark-border);
  background-color: var(--root-dark-bg);
}
/* #### Modal #### */
.modal-overlay.dark div.modal-title {
  border: 1px solid #1a1a1a;
  background-color: var(--main-dark-header-bg);
}
/*
.modal-overlay.dark div.modal-action {
  border: 1px solid var(--main-dark-border);
}
*/
.modal-overlay.dark .modal-container {
  background-color: var(--root-dark-bg);
  color: var(--main-dark-color);
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
  border: 1px solid #1a1a1a;
}

/* #### Tab #### */
nav.tab.dark {
  align-self: unset!important;
  height: 40px;
}

nav.tab.dark > a {
  color: rgba(184, 184, 184, 0.4);
  box-shadow: inset 0px -4px 3px -4px #00000099;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

nav.tab.dark > a.active {
  height: 40px!important;
  color: var(--main-dark-color);
  box-shadow: 0px -4px 3px #00000099;
  background-color: var(--root-dark-bg)!important;
  border-bottom: 1px solid transparent;
  border-right: 1px solid var(--main-dark-border);
  border-left: 1px solid var(--main-dark-border);
}

nav.tab.dark > a.active > span {
  position: relative;
  top: -1px;
}

nav.tab.dark > a:hover {
  color: var(--main-dark-color);
}

#small-nav.navigation.dark > .nav-item:hover {
  background-color: var(--main-dark-hover-bg);
}

#small-nav.navigation.dark > button.nav-item {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

/* Tooltip */
.tooltip.dark {
  color: var(--main-dark-color);
}

.tooltip.dark ul > li:not(:last-child) {
  border-bottom: 1px dotted var(--main-dark-border);
}
/* ###### Buttons ###### */
label.dark,
button.dark {
  background-color: var(--main-dark-header-bg);
  color: var(--main-dark-color);
  /* border: 1px solid #ffffff03;*/
  border: 1px solid #ffffff0a;
}
button.menu-item.dark:hover,
button.btn.grid-item.dark:hover,
.btn:not(.non-interactive).dark:hover {
  /* TODO: Check colors with electron for window controls */
  /* background-color: #3c4652!important;*/
  /* background-color: #3c4652b3 !important;*/
  background-color: var(--main-dark-active-bg)!important;
  color: var(--main-dark-hover-color)!important;
}

button.menu-item.dark {
  border: 1px solid transparent;
}

button.dark.tab-btn:hover {
  /* background-color: var(--main-dark-hover-bg);*/
  background-color: #3c4652b3 !important;
  color: var(--main-dark-hover-color);
}

button.btn.rList-item.dark:hover {
  background-color: var(--main-dark-hover-bg);
  color: var(--main-dark-hover-color);
}

.btn.dark:hover svg {
  stroke: var(--main-dark-hover-color);
}

button.btn.dark:disabled:hover,
button.tab-btn.dark:disabled:hover {
  background-color: var(--main-dark-header-bg)!important;
  color: var(--main-dark-color)!important;
}
button.menu-item.dark.selected,
label.btn.dark.selected, 
button.grid-item.btn.dark.selected,
button.rList-item.dark.btn.selected,
button.btn.dark.selected,
button.tab-btn.dark.selected {
  background-color: var(--main-dark-active-bg);
  /* background-color: #38414d;*/
  color:#98caff;
}

div.f-grid.dark div.tab > .dropdown.formation,
div.f-grid.dark div.tab:not(.fleets) > button.tab-btn,
div.f-grid.dark div.tab.fleets button.tab-btn.selected {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
}

button.btn.rList-item.dark:active,
label.btn.dark:active,
button.btn.dark:active {
  background-color: var(--main-dark-active-bg);
}

button.dark.tab-btn:active {
  background-color: var(--main-dark-active-bg);
  box-shadow: 0px 0px 10px 0px var(--main-dark-header-bg) inset;
  -webkit-box-shadow: 0px 0px 10px 0px var(--main-dark-header-bg) inset;
  -moz-box-shadow: 0px 0px 10px 0px var(--main-dark-header-bg) inset;
}

.rList-item.dark:hover .owned-indicator {
  background-color: unset;
}

.rList-item.dark.owned > .owned-indicator /* + .name */ {
  background-color: var(--main-dark-active-bg);
  border-right: 1px solid var(--main-dark-header-bg);
}
.rList-item.dark > .owned-indicator /* + .name */ {
  border-right: 1px solid transparent;
}

/* #### dropdown menu ##### */
.dropdown-menu.equipment.dark,
.dropdown-menu.formation.dark {
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
  border: 1px solid #1a1a1a;
  background-color: var(--main-dark-header-bg);
}

.dark .dropdown.placeholder {
  /* border: 1px solid #ffffff03;*/
  border: 1px solid #ffffff0a;
}


/* #### Popover #### */
.tooltip.dark,
.popover-container.dark {
  background-color: var(--root-dark-bg);
  -webkit-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.35);
}

/* #### ship title bar #### */
.ship-title-bar.dark {
  background-color: var(--main-dark-header-bg);
}

#small-nav.dark button.nav-item,
/*div.f-grid.dark div.tab,*/
div.f-grid.dark .f-column.section,
.button-group.dark,
.radio-group.dark,
.ship-title-bar.dark {
  border: 1px solid #1a1a1a;
}


div.f-grid.dark .f-row.fleet > div.grid-item,
div.f-grid.dark .f-row.fleet > button.grid-item {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}


#theme-controls.navigation.dark > .nav-item {
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
}
#theme-controls.navigation.dark > button.selected,
#theme-controls.navigation.dark > .nav-item:hover {
  border-bottom: 2px solid var(--main-dark-border);
}

/* #### Input #### */
input[type="text"].dark,
button.input.dark {
  color: inherit;
  background-color: inherit;
  border: unset;
}

input[type="url"].dark,
#input-group.dark {
  color: var(--main-dark-color);
  background-color: var(--main-dark-header-bg);
  border: 2px solid var(--main-dark-border);
}

input[type="url"].dark:focus,
#input-group.dark.input-focus {
  color: var(--main-dark-color);
  background-color: rgba(0,0,0,0.45);
  border: 2px solid var(--main-dark-border);
}

input[type="url"].dark.is-invalid,
#input-group.dark.is-invalid {
  border-color: rgb(110, 19, 19);
}

.grid-item.dark.drag-over {
  border: 1px dotted!important;
  border-radius: 4px!important;
}

.grid-item.dark.drag-over-invalid {
  border: 1px dotted red!important;
  border-radius: 4px!important;
}

/* #### Grid #### */
div.f-grid.dark div.f-icon,
div.f-grid.dark div.f-header {
  border-bottom: 2px solid var(--main-dark-border);
  background-color: var(--main-dark-header-bg);
}

div.f-grid.dark div.f-body {
  background-color: var(--main-dark-body-bg);
}

div.f-grid.dark div.f-title {
  background-color: var(--main-dark-header-bg);
  border-bottom: 1px solid var(--main-dark-border);
  border-top: 1px solid var(--main-dark-border);
}

div.f-grid.dark div.f-row div.f-header + div.f-icon,
div.f-row.dark div.f-header + div.tab-group > button:first-child {
  border-left: 2px dotted var(--main-dark-border);
}


/* #### hull types #### */
.dark .dropdown.placeholder,
.dark.equipment.tab-btn,
.grid-item.dark.ship {
  background-color: var(--main-dark-body-bg);
  /* border: 1px solid #ffffff08;*/
  border: 1px solid #ffffff0a;
}
.grid-item.dark.ship.Carrier {
  background-color: #352035;
  color: #d77dd7;
}

.grid-item.dark.ship.Destroyer {
  background-color: #203844;
  color: #68b3d9;
}

.grid-item.dark.ship.Battleship, 
.grid-item.dark.ship.Battlecruiser {
  background-color: #3e1c1a;
  color: #ff726a;
}


.grid-item.dark.ship.Large.Cruiser {
  background-color: #5a3023;
  color: #ff8560;
}

.grid-item.dark.ship.Submarine {
  background-color: #3a4d21;
  color: #95c655;
}

.grid-item.dark.ship.Monitor,
.grid-item.dark.ship.Heavy.Cruiser,
.grid-item.dark.ship.Light.Cruiser {
  background-color: #503c1e;
  color: #dfa854;
}

.grid-item.dark.ship.Repair {
  background-color: #1a4638;
  color: #48caa1;
}

/* #### grid/table slot/stats #### */
table.f-table.dark .stat-item,
div.f-grid.dark .f-row > .stat-item {
  border-right: 1px solid var(--main-dark-border);
}

table.f-table.dark .stat-item:last-child {
  border-right: unset;
}
.dark #stat-section .f-column {
  border-right: 2px dotted var(--main-dark-border);
}

.f-column.f-body.slots.dark .f-row.slot {
  border-bottom: 2px solid var(--main-dark-border);
}

/* #### rarity #### */
div.f-grid.dark div.f-row.pink {
  border-bottom: 2px solid rgba(255, 192, 203, 0.50);
  /* background-color: var(--main-dark-header-bg);*/
  background-color: var(--main-dark-body-bg);
  border-radius: 0px;
}
/* #### rarity #### */
div.f-grid.dark div.f-row.gold {
  background-color: var(--main-dark-body-bg);
  border-bottom: 2px solid rgba(255, 215, 0, 0.50);
  border-radius: 0px;
}

div.f-grid.dark div.f-row.deepskyblue {
  background-color: var(--main-dark-body-bg);
  border-bottom: 2px solid rgba(0, 191, 255, 0.50);
  border-radius: 0px;
}

.toast-container.dark > .toast,
.message-container.dark {
  color: var(--main-dark-color);
  border: 1px solid #1a1a1a;
  background-color: var(--main-dark-header-bg);
}
.toast-container.dark > .toast {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;
}
.toast-container.dark > .toast:hover {
  box-shadow: 0px 0px 3px 0px var(--main-dark-active-bg);
}

.toast-container.dark .toast.warning {
  background-color: rgb(109, 109, 0);
}
.toast-container.dark .toast.error {
  background-color: #380000;
}

@media only screen and (max-width: 1340px) {
}

@media only screen and (max-width: 695px) {
  .dark #stat-section .f-column {
    border-right: unset;
  }

}

@media only screen and (max-width: 576px) {
  nav.tab.dark > a.active:first-child {
    border-left: 1px solid transparent;
  }
  #fleet-selector.dark {
    background-color: var(--root-dark-bg);
  }
  /*
  div.f-grid.dark div.f-row.fleet > button.grid-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  
  div.f-grid.dark div.f-row.fleet > button.grid-item:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-right-radius: 0px;
  }
  */
}