/* ##### Light theme ##### */
:root {
  --root-light-bg: #fdfdff;
  --main-light-color: #2f2f2f;
  /*--main-light-bg: #55aeff;*/
  --main-light-bg: #cce7ff;
  --main-light-hover-bg: #81bdf5;
  --main-light-border: #55aeff;
  --main-light-active-bg: #81bdf5;;
  --main-light-footer-bg: #efefef;
  --main-light-tooltip-bg: #d3eaff;
  --main-light-tooltip-border: #bcd0ff;
  --main-light-titlebar-bg: #55aeff;
}

/*
:root {
  --root-dark-bg: #1f1f1f;
  --main-dark-bg: #2f2f2f;
  --main-dark-border: #40556b;
  --main-dark-color: rgb(184, 184, 184);
  --main-dark-hover-bg: #40556b;
  --main-dark-button-top-bg: #26313a;
  --main-dark-button-bottom-bg: #1b2127;
  --main-dark-selected-bottom-bg: #2a2e35;
  --main-dark-active-bg: #40556b;
  --main-dark-tooltip-bg: #1b1d24e3;
  --main-dark-tooltip-border: #3f4657a6;
  --main-dark-item-bg: #21252f;
  --main-dark-footer-titlebar-bg: #202023;
}
*/

/* ##### Scrollbar ##### */
.light ::-webkit-scrollbar {     
  background-color: var(--root-light-bg);
  width: 8px;
}

.light ::-webkit-scrollbar-track {
  background-color: var(--root-light-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  border: 1px solid var(--main-light-border);
  border-radius: 5px;
}
.light ::selection {
  background-color: #3c9efb;
}
.light ::-webkit-scrollbar-thumb {
  background-color: var(--main-light-border);
  border-radius: 5px;
}

.light * {
  scrollbar-width: thin;
  scrollbar-color: var(--main-light-border) var(--root-light-bg);
  scroll-padding-right: 5px;
}
.light .no-focus-outline:focus,
.light .no-focus-outline:focus-within {
  outline: none!important;
  background-color: var(--main-light-hover-bg);
}

.light :not(button):not(label):not(.switch-input):not(.modal-container):not(a):not(input):focus {
  outline: none;
  background-color: var(--main-light-hover-bg);
}

.light .switch [type=checkbox]:not(.no-focus-outline):focus + span.switch-toggle::after {
  outline: 1px solid var(--main-light-active-bg);
}

.light a:not(.no-focus-outline):focus,
.light a:not(.no-focus-outline):focus-within,
.light button:not(.no-focus-outline):focus,
#titlebar.light button.title-button:not(.no-focus-outline):focus {
  outline: none;
  background-color: var(--main-light-hover-bg);
}

.light .modal-container:focus {
  outline: none;
}

/* ##### Page ##### */
div.page.light {
  background-color: var(--root-light-bg);
  color: var(--main-light-color);
}

div.page.light .ship-side-container,
div.modal-overlay.light .ship-side-container {
  background-color: var(--root-light-bg);
}

div.page.light #sidebar-slider {
  border-radius: 4px;
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}

/* ##### Titlebar ##### */
#titlebar.light {
  background: var(--main-light-titlebar-bg);
  color: var(--main-light-color);

}
#titlebar.light #window-title {
  color: white;
}

#titlebar.light .title-button {
  background-color: var(--main-light-titlebar-bg);
}

#titlebar.light #window-controls .title-button:hover,
#titlebar.light #window-controls .title-button:active {
  background: var(--main-light-hover-bg);
}

#titlebar.light #min-button {
  box-sizing: border-box;
  color: white;
  grid-column: 1;
}

#titlebar.light #max-button, #restore-button {
  box-sizing: border-box;
  color: white;
  grid-column: 2;
}

#titlebar.light #close-button {
  box-sizing: border-box;
  color: white;
  grid-column: 3;
}

#footer.light {
  background-color: var(--main-light-bg);
  border-top: 1px solid var(--main-light-border);
  color: black;
}

/* #### Modal #### */
.modal-overlay.light div.modal-title {
  border: 1px solid var(--main-light-border);
  background-color: var(--main-light-bg);
}

.modal-overlay.light div.modal-action {
  border: 1px solid var(--main-light-border);
}

.modal-overlay.light .modal-container {
  background-color: var(--root-light-bg);
  border: 3px double var(--main-light-border);
  border-radius: 2px;
  color: var(--main-light-color);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}

/* #### Tab #### */
div.page.light .tab {
  /*overflow: hidden;*/
  border: 1px solid var(--main-light-border);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-light-bg);
  box-sizing: border-box;
}

div.page.light > button.tab-btn {
  border: 1px solid var(--main-light-bg);
}

div.page.light > button.tab-btn:hover {
  border: 1px solid var(--main-light-bg);
}

nav.tab.light {
  box-sizing: border-box;
}

nav.tab.light > a {
  color: white;
}

nav.tab.light > a.active {
  height: 40px!important;
  color: var(--main-light-color);
  background-color: var(--root-light-bg)!important;
}

nav.tab.light > a:hover {
  background-color: var(--main-light-hover-bg);
}

/* ###### Buttons ###### */
label.light,
button.light {
  background-color: var(--main-light-bg);
  color: var(--main-light-color);
  border: 1px solid transparent;
}

.light .tab-btn:hover,
.light .btn:hover,
.light button.rList-item.btn:hover {
  background-color: var(--main-light-hover-bg);
}

button.btn.light:disabled:hover,
button.tab-btn.light:disabled:hover {
  background-color: var(--main-light-bg);
}

label.btn.light.selected,
button.btn.light.selected,
button.tab-btn.light.selected {
  background-color: var(--main-light-active-bg);
}

.rList-item.light.owned > .owned-indicator,
.rList-item.light:hover .owned-indicator {
  background-color: var(--main-light-active-bg);
}

.rList-item.light.owned > .owned-indicator + .name {
  border-left: 1px solid var(--main-light-bg);
}
.rList-item.light > .owned-indicator + .name {
  border-left: 1px solid transparent;
}

/* #### Formation menu ##### */
.formation-dropdown-menu.light {
  border: 1px solid var(--main-light-border);
}

.formation-dropdown-menu.light .btn.menu-item:last-child {
  border-bottom: 1px solid var(--main-light-bg)!important;
}

/* #### Popover #### */
.popover-container.light {
  background-color: var(--root-light-bg);
  border: 3px double var(--main-light-border);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

/* #### ship title bar #### */
.light .ship-title-bar {
  border: 1px solid var(--main-light-border);
  background-color: var(--main-light-bg);
}

div.radio-group.light,
div.button-group.light {
  border: 1px solid var(--main-light-border);
}

.radio-group.light label,
.button-group.light button,
.page.light .tab button {
  border: 1px solid var(--main-light-bg);
}
/* #### Rarity colors #### */
.ship-title-bar > span.Super.Rare:last-child {
  color: PaleGoldenrod;
}

.ship-title-bar > span.Rare:last-child {
  color: powderblue;
}
.ship-title-bar > span.Ultra.Rare:last-child,
.ship-title-bar > span.Decisive:last-child {
  background-image: linear-gradient(to bottom right, #AFA 15%, #AAF, #FAA 85%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ship-title-bar > span.Elite:last-child {
  color: rgba(144, 98, 253, 0.616);
}

/* #### Input #### */
input[type="text"].light,
.searchIcon.light,
button.icon.light {
  color: inherit;
  background-color: inherit;
  border: unset;
}

input[type="url"].light,
#input-group.light {
  color: var(--main-light-color);
  background-color: var(--main-light-bg);
  border: 2px solid var(--main-light-border);
}

input[type="url"].light:focus,
#input-group.light.input-focus {
  color: var(--main-light-color);
  background-color: #cce7ff34;
  border: 2px solid var(--main-light-border);
}

input[type="url"].light.is-invalid,
#input-group.light.is-invalid {
  border-color: rgb(110, 19, 19);
}

/* #### Grid #### */
div.f-grid.light div.f-header {
  border-bottom: 2px solid var(--main-light-border);
}
div.f-grid.light div.f-title {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}

div.f-grid.light div.f-fleet {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}
div.f-grid.light div.f-icon {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}

.light .grid-item > div.content:hover {
  background-color: var(--main-light-hover-bg);
}
/* #### hull types #### */
.light .Aircraft.Carrier /* .hullTypeAbb */ {
  background-color: Plum;
}

.light .Battleship, 
.light .Battlecruiser {
  background-color: Pink;
}

.light .Large.Cruiser {
  background-color: LightSalmon;
}
.light .Destroyer {
  background-color: powderblue;
}
.light .Submarine {
  background-color: PaleGreen;
}

.light .Heavy.Cruiser,
.light .Monitor,
.light .Light.Cruiser {
  background-color: NavajoWhite;
}

.light .Repair.Ship,
.light .Repair {
  background-color: Aquamarine;
}

/* #### grid icon #### */
div.f-grid.light div.f-icon {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}

/* #### grid title #### */
div.f-grid.light div.f-icon.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-light-border);
}
div.f-grid.light div.f-title.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-light-border);
}

/* #### rarity #### */
div.f-grid.light div.f-row.pink {
  border-bottom: 2px solid rgba(255, 192, 203, 1);
  background-color: var(--main-light-bg);
}
/* #### rarity #### */
div.f-grid.light div.f-row.gold {
  background-color: var(--main-light-bg);
  border-bottom: 2px solid rgba(255, 215, 0, 1);
}

div.f-grid.light div.f-row.deepskyblue {
  background-color: var(--main-light-bg);
  border-bottom: 2px solid rgba(0, 191, 255, 1);
}

.toast-container.light > .toast,
.message-container.light {
  color: var(--main-light-color);
  border: 1px solid var(--main-light-border);
  background-color: var(--main-light-bg);
  /* box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;*/
}
.toast-container.light > .toast {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;
}
.toast-container.light > .toast:hover {
  box-shadow: 0px 0px 3px 0px var(--main-light-active-bg);
}

.toast-container.light .toast.warning {
  background-color: rgb(109, 109, 0);
}
.toast-container.light .toast.error {
  background-color: #380000;
}

@media only screen and (max-width: 1340px) {
}

@media only screen and (max-width: 900px) {

}