/* ##### Light theme ##### */
:root {
  --root-light-bg: #fdfdff;
  --main-light-color: #000000;
  --main-light-titlebar-color: #2f2f2f;
  --main-light-bg: #cce7ff;
  --main-light-hover-bg: #81bdf5;
  --main-light-border: #55aeff;
  --main-light-active-bg: #55aeff;
  --main-light-footer-bg: #efefef;
  --main-light-tooltip-bg: #d3eaff;
  --main-light-tooltip-border: #bcd0ff;
  --main-light-titlebar-bg: #55aeff;
}

/* ##### Scrollbar ##### */
.light ::-webkit-scrollbar {     
  background-color: var(--root-light-bg);
  width: 8px;
}

.light ::-webkit-scrollbar-track {
  background-color: var(--root-light-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  border: 1px solid var(--main-light-border);
  border-radius: 5px;
}
.light ::selection {
  background-color: #3c9efb;
}
.light ::-webkit-scrollbar-thumb {
  background-color: var(--main-light-border);
  border-radius: 5px;
}

.light * {
  scrollbar-width: thin;
  scrollbar-color: var(--main-light-border) var(--root-light-bg);
}

.light .no-focus-outline:focus,
.light .no-focus-outline:focus-within {
  outline: none!important;
  background-color: var(--main-light-bg);
}
.light button.nav-item.no-focus-outline:focus,
.light a.no-focus-outline:focus,
.light a.no-focus-outline:focus-within {
  outline: none!important;
  background-color: var(--main-light-border);
}
.light :not(button):not(label):not(.switch-input):not(.modal-container):not(a):not(input):focus {
  outline: none;
  background-color: var(--main-light-hover-bg);
}

.light .switch [type=checkbox]:not(.no-focus-outline):focus + span.switch-toggle::after {
  outline: 1px solid var(--main-light-active-bg);
}

.light a:not(.no-focus-outline):focus,
.light a:not(.no-focus-outline):focus-within,
.light button:not(.no-focus-outline):focus,
#titlebar.light button.title-button:not(.no-focus-outline):focus {
  outline: none;
  background-color: var(--main-light-hover-bg);
}

.light .modal-container:focus {
  outline: none;
}

/* ##### Page ##### */
div.page.light {
  background-color: var(--root-light-bg);
  color: var(--main-light-color);
}

div.page.light .container {
  background-color: var(--root-light-bg);
  box-shadow: 0px 0px 20px 5px #a8a8a85e;
}

/* ##### Titlebar ##### */
#titlebar.light {
  background: var(--main-light-titlebar-bg);
  color: var(--main-light-color);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
#titlebar.light #window-title {
  color: white;
}

#titlebar.light .title-button {
  background-color: var(--main-light-titlebar-bg);
}

#titlebar.light #window-controls .title-button:hover,
#titlebar.light #window-controls .title-button:active {
  background: var(--main-light-hover-bg);
}

#titlebar.light #min-button {
  box-sizing: border-box;
  grid-column: 1;
}

#titlebar.light #max-button, #restore-button {
  box-sizing: border-box;
  color: white;
  grid-column: 2;
}

#titlebar.light #close-button {
  box-sizing: border-box;
  color: white;
  grid-column: 3;
}

#footer.light {
  background-color: var(--main-light-bg);
  border-top: 1px solid var(--main-light-border);
  color: black;
}

/* #### Modal #### */
.modal-overlay.light div.modal-title {
  border: 1px solid var(--main-light-border);
  background-color: var(--main-light-bg);
}

/* #### Tab #### */
nav.navigation.tab.light {
  padding-left: 5px;
}
#small-nav.light button.nav-item {
  border: 1px solid var(--main-light-border);
}
#small-nav.navigation.light > .nav-item:hover {
  background-color: var(--main-light-hover-bg);
}

.navigation.light > .nav-item {
  color: white;
}

:not(#small-nav).navigation.light > .nav-item:hover {
  border-bottom: 2px solid var(--main-light-bg);
}
.navigation.light > .nav-item.selected,
.navigation.light > .nav-item.active {
  border-bottom: 2px solid var(--main-light-bg);
}

/* Tooltip */

.tooltip.light div.f-grid > .f-column.section {
  border: unset;
}

.tooltip.light ul > li:not(:last-child) {
  border-bottom: 1px dotted var(--main-light-border);
}

/* ###### Buttons ###### */
label.light,
button.light {
  background-color: var(--main-light-bg);
  color: var(--main-light-color);
  border: 1px solid transparent;
  /* border: none;*/
}

button.light.input,
input[type="text"].light {
  color: inherit;
  background-color: inherit;
  border: unset;
}
button.grid-item.btn.light:hover,
.light .tab-btn:hover,
.btn.light:hover {
  background-color: #a4d3ff;
  color: var(--main-light-color);
  border: 1px solid #a4d3ff;
}
button.rList-item.light.btn:hover {
  background-color: #a4d3ff;
  color: var(--main-light-color);
  border: unset;
}
button.btn.light:disabled:hover,
button.tab-btn.light:disabled:hover {
  background-color: var(--main-light-bg);
}

label.btn.light.selected,
button.grid-item.btn.light.selected,
button.btn.light.selected,
button.tab-btn.light.selected {
  background-color: var(--main-light-active-bg);
  color: white;
  border: 1px solid var(--main-light-active-bg);
}

button.rList-item.light.btn.selected {
  background-color: var(--main-light-active-bg);
  color: white;
  border: unset;
}
button.btn.rList-item.light:active,
label.btn.light:active,
button.btn.light:active {
  background-color: var(--main-light-active-bg);
}
.rList-item.light:hover .owned-indicator {
  background-color: unset;
}

.rList-item.light.owned > .owned-indicator {
  background-color: var(--main-light-active-bg);
}

.rList-item.light.owned > .owned-indicator + .name {
  border-left: 1px solid var(--main-light-bg);
}
.rList-item.light > .owned-indicator + .name {
  border-left: 1px solid transparent;
}

/* #### Formation menu ##### */
.formation-dropdown-menu.light {
  border: 1px solid var(--main-light-border);
  background-color:#a4d3ff;
}

#formation-ship-search.light {
  border-top: 3px solid var(--main-light-border);
  background-color: var(--root-light-bg);
}
/* #### Popover #### */
.tooltip.light,
.modal-overlay.light .modal-container,
.popover-container.light {
  background-color: var(--root-light-bg);
  border: 1px solid var(--main-light-border);
  -webkit-box-shadow: 0px 1px 6px 1px rgba(183, 183, 183, 0.75);
  -moz-box-shadow: 0px 1px 6px 1px rgba(183, 183, 183, 0.75);
  box-shadow: 0px 1px 6px 1px rgba(183, 183, 183, 0.75);
}

.ship-title-bar.light {
  background-color: var(--main-light-bg);
}

div.f-grid.light .f-column.section,
.ship-title-bar.light {
  border: 1px solid #aed8ff;
}

div.f-grid.light .f-row.fleet {
  padding-bottom: 3px;
  margin: -2px -3px 0px 3px;
  gap: unset;
}

#formation-grid.light .f-column {
  background-color: var(--main-light-hover-bg);
}

/* #### Input #### */
input[type="url"].light,
#input-group.light {
  color: var(--main-light-color);
  background-color: var(--main-light-bg);
  border: 2px solid var(--main-light-border);
}

input[type="url"].light:focus,
#input-group.light.input-focus {
  color: var(--main-light-color);
  background-color: #cce7ff34;
  border: 2px solid var(--main-light-border);
}

input[type="url"].light.is-invalid,
#input-group.light.is-invalid {
  border-color: rgb(110, 19, 19);
}

.grid-item.light.drag-over {
  border: 2px dotted!important;
  border-radius: 4px!important;
}

.grid-item.light.drag-over-invalid {
  border: 2px dotted red!important;
  border-radius: 4px!important;
}
/* #### Grid #### */
div.f-grid.light div.f-header {
  border-bottom: 2px solid var(--main-light-border);
  background-color: var(--main-light-bg);
}

div.f-grid.light div.f-body {
  background-color: #eff7ff;
}

div.f-grid.light div.f-title {
  background-color: var(--main-light-bg);
  border-bottom: 1px solid var(--main-light-border);
  border-top: 1px solid var(--main-light-border);
}

div.f-grid.light div.f-icon,
div.f-grid.light div.f-header {
  background-color: var(--main-light-bg);
  border-bottom: 2px solid var(--main-light-border);
}

div.f-row.light div.f-header + div.f-icon,
div.f-row.light div.f-header + div.tab-group > button:first-child {
  border-left: 2px dotted var(--main-light-border);
}

/* #### hull type colors #### */
.grid-item.light.ship {
  background-color: var(--main-light-bg);
}

.grid-item.light.ship.Carrier {
  background-color: Plum;
  color: #510051;
}

.grid-item.light.ship.Battleship, 
.grid-item.light.ship.Battlecruiser {
  background-color: Pink;
  color: #6c0013;
}

.grid-item.light.ship.Large.Cruiser {
  background-color: LightSalmon;
  color: #551800;
}
.grid-item.light.ship.Destroyer {
  background-color: powderblue;
  color: #005560;
}
.grid-item.light.ship.Submarine {
  background-color: PaleGreen;
  color: #006200;
}

.grid-item.light.ship.Heavy.Cruiser,
.grid-item.light.ship.Monitor,
.grid-item.light.ship.Light.Cruiser {
  background-color: NavajoWhite;
  color: #774700;
}

.grid-item.light.ship.Repair.Ship,
.grid-item.light.ship.Repair {
  background-color: Aquamarine;
  color: #005b3d;
}
/* #### grid/table slot/stats #### */
table.f-table.light .stat-item,
div.f-grid.light .f-row > .stat-item {
  border-right: 1px solid var(--main-light-border);
}

table.f-table.light .stat-item:last-child {
  border-right: unset;
}
.light #stat-section .f-column {
  border-right: 2px dotted var(--main-light-border);
}

.f-column.f-body.slots.light .f-row.slot {
  border-bottom: 2px solid var(--main-light-border);
}

/* #### grid icon #### */
/*
div.f-grid.light div.f-icon {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
}*/

/* #### rarity #### */
div.f-grid.light div.f-row.pink {
  border-bottom: 2px solid rgba(255, 192, 203, 1);
  background-color: #eff7ff;
  border-radius: 0px;
}
/* #### rarity #### */
div.f-grid.light div.f-row.gold {
  background-color: #eff7ff;
  border-bottom: 2px solid rgba(255, 215, 0, 1);
  border-radius: 0px;
}

div.f-grid.light div.f-row.deepskyblue {
  background-color: #eff7ff;
  border-bottom: 2px solid rgba(0, 191, 255, 1);
  border-radius: 0px;
}

.toast-container.light > .toast,
.message-container.light {
  color: var(--main-light-color);
  border: 1px solid var(--main-light-border);
  background-color: var(--main-light-bg);
  /* box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;*/
}
.toast-container.light > .toast {
  box-shadow: rgba(0, 0, 0, 0.39) 0px 2px 4px 1px;
}
.toast-container.light > .toast:hover {
  box-shadow: 0px 0px 3px 0px var(--main-light-active-bg);
}

.toast-container.light .toast.warning {
  background-color: rgb(109, 109, 0);
}
.toast-container.light .toast.error {
  background-color: #380000;
}

@media only screen and (max-width: 1340px) {
}

@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 695px) {
  .light #stat-section .f-column {
    border-right: unset;
  }

}