
/*
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} 
*/

/* Global colors */
:root {
  /* --root-dark-bg: linear-gradient(172deg, rgba(47,48,50,1) 4%, rgba(39,41,48,1) 15%, rgba(33,35,45,1) 70%);*/
  --root-dark-bg: rgb(42, 46, 54);
  /* --main-dark-bg: #292e38;*/
  --main-dark-bg: #1b1d24;
  /* --main-dark-bg: rgba(0,0,0,0.3);*/
  --main-dark-border: #3f4657;
  --main-dark-color: rgb(184, 184, 184);
  --main-dark-hover-bg: #272c3b;
  --main-dark-hover-border: rgb(182, 182, 182);
  /* --main-dark-selected: #4b5366;*/
  --main-dark-selected: #272c3b;
  /* --main-dark-active: #272c3b; */
  --main-dark-active-bg: #343b4e;
  --main-dark-active-border: #818aa1;
  --main-dark-input-bg: #323844;
  --main-dark-input-focus-border: #444b5a;

  --root-light-bg: rgb(255, 255, 255);
  --main-light-color: black;
  --main-light-bg: rgb(245, 245, 245);
  --main-light-border: #9c9c9c;
  --main-light-hover-bg: rgb(235, 235, 235);
  --main-light-hover-border: ;
  --main-light-selected: rgb(199, 199, 199);
  --main-light-focus: rgb(211, 211, 211);
  --main-light-focus-border: #575757;
}

::-webkit-scrollbar {     
  background-color: rgb(42, 46, 54);
  width: 0.5em;
  /*border-radius: 10px;*/
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
  /* border-radius: 10px;*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* ##### DARK ##### */
.dark {
  /* background-color: var(--main-dark-bg);*/
  background-color: rgba(0,0,0,0.3);
  /* border: 1px solid var(--main-dark-border);*/
  color: var(--main-dark-color);
}

.btn.dark {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}

.btn.dark:hover {
  background-color: var(--main-dark-hover-bg);
  /* border: 1px solid var(--main-dark-hover-border); */
}

.btn.dark.selected:disabled {
  background-color: var(--main-dark-selected);
  border: 1px solid var(--main-dark-border);
}

.btn.dark.selected {
  background-color: var(--main-dark-selected);
}

nav.tab.dark > a {
  color: var(--main-dark-color);
}

nav.tab.dark > a.active {
  background-color: var(--main-dark-active-bg);
}

nav.tab.dark > a:hover {
  background-color: var(--main-dark-hover-bg);
}

input[type="text"].dark {
  /* background-color: #323844;*/
  background-color: var(--main-dark-input-bg);
  border: 2px solid var(--main-dark-input-bg);
  border-left: 0px;
}

input[type="text"].dark:focus {
  background-color: rgba(0,0,0,0.45);
  border: 2px solid var(--main-dark-input-focus-border);
  border-left: 0px;
}

.radio-group label.dark {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
}
.radio-group label.dark:hover {
  background-color: var(--main-dark-hover-bg);
}

.radio-group input[type="radio"]:checked + label.dark {
  background-color: var(--main-dark-selected);
}

.tab.dark {
  overflow: hidden;
  border: 2px solid #3f4657;
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-dark-bg);
  /* background-color: #292e38;*/
}

.tab button.dark {
  background-color: var(--main-dark-bg);
  color: rgb(184, 184, 184);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--main-dark-hover-bg);
}
/* Create an active/current tablink class */
.tab button.dark.active {
  background-color: var(--main-dark-active-bg);
}
/* Style the tab content */
.tab-content.dark {
  border: 1px solid #353b48;
}
/* ##### LIGHT ##### */
.light {
  background-color: var(--main-light-bg);
  /* border: 1px solid var(--main-light-border);*/
  color: var(--main-light-color);
}

.btn.light {
  background-color: var(--main-light-bg);
  color: var(--main-light-color);
  border: 1px solid rgb(177, 177, 177);
}

.btn.light:hover {
  background-color: var(--main-light-hover-bg);
  /* border: 1px solid var(--main-light-hover-border); */
  color: var(--main-light-color);
  border: 1px solid rgb(177, 177, 177);
}

.btn.light.selected {
  background-color: var(--main-light-selected);
}

.radio-group input[type="radio"]:checked + label.light {
  background-color: var(--main-light-selected);
}

input[type="text"].light {
  /* background-color: #323844;*/
  border: 2px solid var(--main-light-border);
  border-left: 0px;
}

input[type="text"].light:focus {
  background-color: var(--main-light-focus);
  border: 2px solid var(--main-light-focus-border);
  border-left: 0px;
}

.radio-group label.light {
  background-color: var(--main-light-bg);
}

.tab.light {
  overflow: hidden;
  border-bottom: 1px solid var(--main-light-border);
}

.tab button.light {
  /* background-color: inherit;*/
  color: var(--main-light-color);
}

/* Change background color of buttons on hover */
.tab button.light:hover {
  background-color: var(--main-light-hover-bg);
}

/* Create an active/current tablink class */
.tab button.light.active {
  background-color: var(--main-light-selected);
  color: var(--main-light-color);
}
/* Style the tab content */
.tab-content {
  border-top: none;
}

.App {
  display: flex;
  height: 100%;
  margin-top: 32px;
  border-top: 1px solid black;
  overflow-y: auto;
  flex-direction: column;
  color: var(--main-dark-color);
  background: var(--root-dark-bg);
  /*
  color: var(--main-light-color);
  background: var(--root-light-bg);
  */
  /* background: rgb(47,48,50);*/
  /* background: linear-gradient(172deg, rgba(47,48,50,1) 4%, rgba(39,41,48,1) 15%, rgba(33,35,45,1) 70%); */

}
html {
  margin: 0px;
  height: 100vh;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

#root, #root > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body, nav, header {
  display: flex;
}

body {
  flex-direction: column;
}

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: 100%;
  background: var(--root-dark-bg);
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

#min-button {
  color: var(--main-dark-color);
  grid-column: 1;
}
#max-button, #restore-button {
  color: var(--main-dark-color);
  grid-column: 2;
}
#close-button {
  color: var(--main-dark-color);
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  user-select: none;
}
#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}
#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}
/*
#close-button:hover {
  background: #E81123 !important;
}
#close-button:active {
  background: #F1707A !important;
}
*/
#close-button:active svg {
  filter: invert(30%);
}

#restore-button.hidden {
  display: none !important;
}

#max-button.hidden {
  display: none !important;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  /* font-family: "Segoe UI", sans-serif;*/
  font-size: 14px;
  color: var(--main-dark-color);
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

.page,
section.home {
  height: 100%;
  display: flex;
  min-height: 92vh;
  flex-direction: column;
}

#ship-list-page-content {
  margin: 65px 5px 0px 5px;
  height: 100%;
  /* min-height: 85vh;*/
  /* max-height: 87vh;*/
  max-height: calc(100% - 118px);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.formation-model-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 0px;
  /*
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  */
  left: 10%;
  top: 10%;
  height: 80%;
  width: 80%;
  justify-content: center;  
}
.formation-model-container.dark {
  background-color: var(--root-dark-bg);
  border: 2px solid #9c9c9ca1;
  border-radius: 2px;
}
.formation-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.ship-data-container,
.ship-side-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 5px 5px 5px 5px;
  /* border: 1px dotted #353b48;*/
  /* max-height: calc(100% - 15vh);*/
  /* max-height: 85vh;*/
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}
.ship-side-container {
  min-width: 18%;
  max-width: 18%;
}

/* ###### List top selector group + tabs + popover ##### */
.top-container {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-container.fixed {
  position: fixed;
}

div.page > div.top-container {
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.315);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.315);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.315);
}

.top-container > div.tab {
  display: flex;
  flex-direction: row;
}

div.top-container > div.hidden {
  display: none;
  height: 0px;
}

div.top-container > div.active {
  display: flex;
  min-height: 58px;
  flex-direction: column;
}
div > div.tab-content.hidden {
  display: none;
  height: 0px;
}

div > div.tab-content.active {
  display: flex;
  min-height: 58px;
  flex-direction: column;
}
.tab {
  overflow: hidden;
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.popover-container {
  /*min-width: 16%;*/
  /* margin-top: 2px;*/
  /* margin-left: -10px;*/
  overflow: hidden; 
  position: absolute;
  max-width: 19%;
  /* min-width: 146px;*/
  width: 19%;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  
}

.popover-container.dark {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
}

.popover-container.dark .active {
  background-color: var(--main-dark-active-bg);
  border: 1px solid var(--main-dark-active-border);
}
/*
.popover-content {
}
*/
.popover-content > .f-grid > .f-row {
  margin-bottom: 5px;
}
.popover-content > .f-grid > .f-row .grid-item {
  margin-bottom: 1px;
}

/* Style the tab content */
.tab-content {
  padding: 6px 12px;
  border-top: none;
}

.top-container > nav > a {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.top-container.fixed > nav.tab {
  border-top: unset;
}
.ship-data-container > div.scroll {
  overflow-y: auto;
  scrollbar-color: dark;
  scrollbar-width: thin;
}

.ship-data-container > div > h1 {
  border: 2px solid var(--main-dark-border);
  border-left: 0px;
  border-right: 0px;
  padding: 5px;
  margin-top: 0px;
}

.ship-data-container > div > span {
  border-right: 1px solid black;
  padding: 5px;
}

.ship-data-container > div > h1 > span.Super.Rare:last-child {
  /* color: rgba(253, 209, 98, 0.616);*/
  color: PaleGoldenrod;
}

.ship-data-container > div > h1 > span.Rare:last-child {
  color: rgba(98, 134, 253, 0.616);
}

.ship-data-container > div > h1 > span.Elite:last-child {
  color: rgba(144, 98, 253, 0.616);
}

section.home {
  justify-content: center;
  align-items: center;
}

/* List */
.rList {
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  overflow-y: auto;
  scrollbar-color: dark;
  scrollbar-width: thin;
  
}

.rList > .rList-item {
  width: 100%;
  /* height: 35px;*/
  padding: 5px;
  margin-bottom: 1px;
}

.rList > .rList-item.btn {
  /* background-color: unset;*/
  border: unset;
  height: unset;
  max-height: 45px;
  min-height: 35px;
}

/* button */
.btn {
  /* border: 0px;*/
  /* transition: 0.1s; */
  /* width: 100%;*/
  height: 35px;
  padding: 5px;
  /* transition: 0.4s; */
  /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}
.r-List-item-container {
  padding: 10px;
}
.btn:active {
  transform: translateY(1px);
}

.button-group {
  display: flex;
}
.radio-group {
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* #### INPUT ##### */
.radio-group input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-group label {
  flex-grow: 1;
  padding: 4px;
  text-align: center;
}

div#search > form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#input-group,
#input-group:focus {
  display: flex;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 10px;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  /* border-radius: 2px; */
  margin-top: 10px;
  transition: box-shadow .2s ease-in,border .2s ease-in,background-color .2s ease-in;
  margin-bottom: 1px;
}

.searchIcon {
  text-align: center;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 10px auto;
  margin-bottom: 1px;
}

.searchIcon.dark {
  background-color: var(--main-dark-input-bg);
  border: 2px solid var(--main-dark-input-bg);
  transition: box-shadow .2s ease-in,border .2s ease-in,background-color .2s ease-in;
  border-right: 0px;
}

.searchIcon.light {
  background-color: var(--main-light-bg);
  border: 2px solid var(--main-light-border);
  transition: box-shadow .2s ease-in,border .2s ease-in,background-color .2s ease-in;
  border-right: 0px;
}

.searchIcon.light.input-focus {
  background-color: var(--main-light-focus);
  border: 2px solid var(--main-light-focus-border);
  border-right: 0px;
}

.searchIcon.dark.input-focus {
  background-color: rgba(0,0,0,0.45);
  border: 2px solid var(--main-dark-input-focus-border);
  border-right: 0px;
}

.container {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

#passives > div {
  margin-bottom: 5px;
}
#passives > div > div:first-child {
  font-size: 21px;
  padding-bottom: 1px;
}

#passives > div > div {
  padding: 6px;
  margin: 0px;
}

#passives > div.pink {
  border: 2px solid rgba(243, 196, 204, 0.651);
  background-color: rgba(216, 112, 147, 0.068);
  border-radius: 5px;
}
#passives > div.pink > :first-child {
  border-bottom: 2px dashed rgba(243, 196, 204, 0.651);
}
#passives > div.gold > :first-child {
  border-bottom: 2px dashed rgba(255, 217, 0, 0.651);
}
#passives > div.deepskyblue > :first-child {
  border-bottom: 2px dashed rgba(0, 191, 255, 0.651);
}

#passives > div.gold {
  border: 2px solid rgba(255, 217, 0, 0.651);
  background-color: rgba(218, 165, 32, 0.068);
  border-radius: 5px;
}

#passives > div.deepskyblue {
  border: 2px solid rgba(0, 191, 255, 0.651);
  background-color: rgba(0, 191, 255, 0.068);;
  border-radius: 5px;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.horizontal.formation > div {
  margin-right: 1px;
}

#passives.formation {
  font-size: 14px;
}

#passives.formation > div > div:first-child {
  font-size: 16px;
  font-weight: bold;
}

#passives.formation div {
  border-width: 1px;
}

/* ##### GRID ##### */
.f-grid {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

div.f-row {
  display: flex;
  flex-direction: row;
  border-radius: inherit;
  margin-bottom: 5px;
}

div.f-row.wrap {
  flex-wrap: wrap;
}

div.f-column {
  display: flex;
  flex-direction: column;
  border-radius: inherit;
  margin-bottom: 5px;
  flex: 1;
  min-width: 350px;
  margin-right: 2px;
}

div.f-column > div.grid-item {
  margin-bottom: 5px;
}
div.grid-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  border-radius: inherit;
  line-height: 23px;
  min-height: 23px;
}
/*
div.content.dark.Rare  {
  
  background-color: rgba(81, 120, 248, 0.336);
}
*/
.f-grid > div.f-row:last-child {
  margin-bottom: 0px;
}

.f-grid.rounded {
  border-radius: 5px;
}

.grid-item > button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%;*/
  border-radius: inherit;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
}

.f-row > .grid-item > button.btn {
  margin-right: 1px;
}

.grid-item > button.btn.small {
  height: 23px;
  line-height: 14px;
  font-size: 14px;
  padding: 2px;
}

button.btn.small {
  height: 23px;
  line-height: 14px;
  font-size: 14px;
  padding: 2px;
}

.grid-item > div.content {
  display: flex;
  height: 100%;
  padding: 5px;
  flex-direction: column;
  margin-top: 2px;
  border-radius: inherit;
}

.grid-item.dark > div.content.Elite {
  border: 1px solid rgb(173, 127, 173);
  background-color: rgb(54, 30, 54);
}
.grid-item.dark > div.content.Elite > div.details {
  color: plum;
}

.grid-item.dark > div.content.Rare {
  border: 1px solid rgb(139, 178, 184);
  background-color: rgb(44, 56, 58);
}
.grid-item.dark > div.content.Rare > div.details {
  color: powderblue;
}
.grid-item.dark > div.content.Super.Rare {
  border: 1px solid goldenrod;
  background-color: rgb(70, 55, 13);
}
.grid-item.dark > div.content.Super.Rare > div.details {
  color: goldenrod;
}

.grid-item > div.content > div.details {
  /* line-height: 22px;*/
  padding: 5px;
  /* color: inherit;*/
  /* background-color: inherit;*/
  text-align: center;
  font-size: 20px;
}

div.footer-misc {
  display: flex;
  min-height: 22px;
}

.grid-item .content > div.footer-misc > .pos-indicator {
  min-height: 22px;
  height: 100%;
  margin: auto;
  width: calc(50% - 5px);
  padding-left: 5px;
  border-radius: inherit;
  font-size: 12px;
  line-height: 22px;
}

.grid-item .content > div.footer-misc > div.hull-type {
  min-height: 22px;
  height: 100%;
  width: calc(50% - 5px);
  padding-left: 5px;
  border-radius: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 22px;
}

div.f-title {
  padding: 10px 12px;
  margin-bottom: 5px;
  border: 1px solid #353b48;
  text-align: center;
  /* width: 25%; */
}

.grid-item.name-title {
  min-width: 200px;
  max-width: 200px;
  padding-left: 5px;
  border-bottom: 2px solid #353b48;
}

.grid-item.name {
  min-width: 200px;
  max-width: 200px;
  height: inherit;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  border-right: 1px solid #353b48;
  margin-top: 0px;
}

.grid-item.passive-title {
  padding-left: 5px;
  border-bottom: 2px solid #353b48;
}

.grid-item.passive {
  padding-left: 5px;
  justify-content: center;
}

div.f-row.pink {
  border: 1px solid rgba(243, 196, 204, 0.651);
  background-color: rgba(216, 112, 147, 0.068);
  border-radius: 5px;
}

div.f-row.pink > :first-child {
  border-right: 2px dashed rgba(243, 196, 204, 0.651);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.f-row.gold > :first-child {
  border-right: 2px dashed rgba(255, 217, 0, 0.651);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.f-row.deepskyblue > :first-child {
  border-right: 2px dashed rgba(0, 191, 255, 0.651);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.f-row.gold {
  border: 1px solid rgba(255, 217, 0, 0.651);
  background-color: rgba(218, 165, 32, 0.068);
  border-radius: 5px;
}

div.f-row.deepskyblue {
  border: 1px solid rgba(0, 191, 255, 0.651);
  background-color: rgba(0, 191, 255, 0.068);;
  border-radius: 5px;
}

@media only screen and (max-width: 1340px) {
  .formation-model-container div.ship-side-container div.top-container form div#input-group div.searchIcon {
    display: none;
    width: 0;
  }
  .formation-model-container div.ship-side-container div.top-container form div#input-group input[type="text"].dark {
    background-color: #323844;
    border: 2px solid var(--main-dark-border);
  }
  .formation-model-container div.ship-side-container div.top-container form div#input-group input[type="text"].dark:focus {
    background-color: rgba(0,0,0,0.45);
    border: 2px solid var(--main-dark-input-focus-border);
  } 
}

@media only screen and (max-width: 1210px) {
  .searchIcon {
    display: none;
    width: 0;
  }
  input[type="text"].dark {
    background-color: #323844;
    border: 2px solid var(--main-dark-border);
  }
  input[type="text"].dark:focus {
    background-color: rgba(0,0,0,0.45);
    border: 2px solid var(--main-dark-input-focus-border);
  } 
}
