/* Global colors */
:root {
  /* --root-dark-bg: rgb(42, 46, 54);*/
  /*--root-dark-bg: rgb(46, 51, 62); */
  /* --root-dark-bg: rgb(32, 36, 41);*/
  --root-dark-bg: rgb(22, 23, 25);
  --main-dark-bg: #1b1d24;
  --main-dark-border: #3f4657;
  --main-dark-color: rgb(184, 184, 184);
  --main-dark-hover-bg: #272c3b;
  --main-dark-hover-border: rgb(182, 182, 182);
  /* --main-dark-selected-bg: #272c3b;*/
  --main-dark-button-top-bg: #272c3b;
  --main-dark-button-bottom-bg: #21252f;
  --main-dark-selected-bg: #363a46;
  --main-dark-selected-bottom-bg: #2a2e35;
  --main-dark-active-bg: #343b4e;
  --main-dark-active-border: #818aa1;
  --main-dark-input-bg: #323844;
  --main-dark-input-focus-border: #444b5a;
  --main-dark-inform-bg: #272c3b;
  --main-dark-tooltip-bg: #1b1d24e3;
  --main-dark-tooltip-border: #3f4657a6;
  --main-dark-title-bg: #1b1d24;
  --main-dark-item-bg: #21252f;
  --main-dark-footer-titlebar-bg: #202023;

}

/* ##### Scrollbar ##### */
.page.dark ::-webkit-scrollbar {     
  background-color: rgb(42, 46, 54);
  width: 0.5em;
}

.page.dark ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.page.dark ::-webkit-scrollbar-thumb {
  background-color:var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
}

/* ##### DARK ##### */

.dark div.scroll {
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: dark;
  scrollbar-width: thin;
}

input[type="text"].dark,
input[type="url"].dark  {
  color: var(--main-dark-color);
  background-color: var(--main-dark-input-bg);
  border: 2px solid var(--main-dark-input-bg);
}

input[type="text"].dark:focus,
input[type="url"].dark:focus {
  background-color: rgba(0,0,0,0.45);
  border: 2px solid var(--main-dark-input-focus-border);
}

div.page.dark .top-container.fixed > nav.tab {
  overflow: hidden;
  border: 2px solid #3f4657;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-dark-bg);
}

div.page.dark .tab {
  overflow: hidden;
  border: 2px solid var(--main-dark-border);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-dark-bg);
}
html {
  margin: 0px;
  height: 100vh;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus, label {
    outline: none;
}

#root, #root > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body, nav, header {
  display: flex;
}

body {
  flex-direction: column;
}

/* ##### Titlebar and Footer ##### */
#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: 100%;
}

#titlebar.dark {
  background: var(--main-dark-footer-titlebar-bg);
}

#footer {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 100%;
}

#footer.dark {
  background: var(--main-dark-footer-titlebar-bg);
  border-top: 1px solid var(--main-dark-border);
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 32px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .title-button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

#titlebar.dark #min-button {
  color: var(--main-dark-color);
  grid-column: 1;
}

#titlebar.dark #max-button, #restore-button {
  color: var(--main-dark-color);
  grid-column: 2;
}

#titlebar.dark #close-button {
  color: var(--main-dark-color);
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .title-button {
  user-select: none;
}

#titlebar.dark #window-controls .title-button:hover {
  background: rgba(255,255,255,0.1);
}

#titlebar.dark #window-controls .title-button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:active svg {
  filter: invert(30%);
}

#restore-button.hidden {
  display: none !important;
}

#max-button.hidden {
  display: none !important;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-size: 14px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#footer-state-msg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 8px;
  height: 100%;
  overflow: hidden;
  font-size: 12px;
}

#footer-state-msg span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

/* ##### containers ##### */
.page {
  height: 100%;
  display: flex;
  min-height: 92vh;
  flex-direction: column;
  margin-top: 32px;
  /* border-top: 1px solid black;*/
}

.page.dark {
  background-color: var(--root-dark-bg);
  color: var(--main-dark-color);
}

.page-content {
  margin: 37px 0px 25px 0px;
  height: 100%;
  max-height: calc(100% - 62px);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* ###### Modal ###### */
.modal-container > div.modal-title {
  display: flex;
  flex-grow: 1;
  border-left: 0px!important;
  border-right: 0px!important;
  border-top: 0px!important;
  padding: 5px 16px;
  justify-content: flex-start;
}

.modal-overlay.dark div.modal-title {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-title-bg);
}

.modal-container > div.modal-content {
  text-align: center;
  padding: 15px;
}

.modal-container > div.modal-action {
  padding: 3px;
}

.modal-container {
  flex-direction: column;
  display: flex;
  align-self: center;
  margin: auto;
}

.modal-container.formation {
  height: 90%;
  width: 90%;
  flex-direction: row!important;
}

.modal-overlay.dark .modal-container {
  background-color: var(--root-dark-bg);
  border: 1px solid var(--main-dark-border);
  border-radius: 2px;
  color: var(--main-dark-color);
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-overlay.dark {
  background-color: rgba(0,0,0,0.1);
}

.ship-data-container,
.ship-side-container,
.home-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0px;
  width: 100%;
}

.ship-side-container {
  min-width: 18%;
  max-width: 18%;
}

/* ###### Buttons ###### */
button {
  cursor: default;
  transition: 0.3s;
  padding: 5px 16px;
  text-align: center;
}

button:disabled {
  cursor: default!important;
  opacity: 0.2;
}

button.dark {
  background-color: var(--main-dark-bg);
  color: rgb(184, 184, 184);
}

button.btn:active {
  transform: translateY(1px);
}

button.btn.small {
  height: 23px;
  line-height: 14px;
  font-size: 14px;
  padding: 2px;
  min-width: 45px;
}

button.btn.normal {
  height: 26px;
  font-size: 14px;
}

button.tab-btn,
button.tab-btn * {
  cursor: pointer;
}

button.tab-btn.normal {
  border: none;
  height: 26px;
  font-size: 14px;
}

button.btn.hidden {
  display: none!important;
}

.btn.graphic {
	border-radius: 3px;
	text-decoration:none;
}

button.btn.flat {
  border: unset!important;
  max-height: 45px;
  min-height: 35px;
}

.btn.graphic.dark:hover {
	background: linear-gradient(to bottom, var(--main-dark-button-bottom-bg) 5%, var(--main-dark-button-top-bg) 100%);
  text-shadow: 0px 1px 0px var(--main-dark-border);
}

.btn.graphic.dark.selected {
  background: linear-gradient(to bottom, var(--main-dark-selected-bottom-bg) 10%,  var(--main-dark-selected-bg) 100%);
  text-shadow: 0px 1px 0px var(--main-dark-border);
  box-shadow: inset 1px 1px 1px #252525;
}

.btn.graphic.dark {
  box-shadow: inset 0px 1px 0px 0px var(--main-dark-input-bg);
	background: linear-gradient(to bottom, var(--main-dark-button-top-bg) 5%, var(--main-dark-button-bottom-bg) 100%);
}

button.btn.dark {
  border: 1px solid var(--main-dark-border);
}

.btn.graphic.dark {
  border: 1px solid var(--main-dark-bg);
}

button.btn.dark:hover,
button.tab-btn.dark:hover {
  background-color: var(--main-dark-hover-bg);
}

button.dark.active {
  background-color: var(--main-dark-active-bg);
}

button.btn.graphic.dark:disabled:hover {
  box-shadow: inset 0px 1px 0px 0px #30333d;
	background: linear-gradient(to bottom, var(--main-dark-selected-bg) 5%, var(--main-dark-item-bg) 100%);
}

button.btn.dark:disabled:hover,
button.tab-btn.dark:disabled:hover {
  background-color: var(--main-dark-bg);
}

button.btn.dark.selected,
button.tab-btn.dark.selected {
  background-color: var(--main-dark-selected-bg);
}

button.tab-btn.dark.inform {
  background-color: var(--main-dark-inform-bg);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

button.btn.dark.informative {
  border: unset;
  border-bottom: 2px solid var(--main-dark-border);
}

/* ###### top-container + tab ##### */
.top-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  margin-bottom: 10px;
}

.top-container.fixed {
  position: fixed;
  margin-bottom: unset;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-container > nav > a {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 16px;
  transition: 0.3s;
}
.top-container > div.tab > * {
  cursor: pointer;
}

nav.tab.dark > a {
  color: var(--main-dark-color);
}

nav.tab.dark > a.active {
  background-color: var(--main-dark-active-bg);
}

nav.tab.dark > a:hover {
  background-color: var(--main-dark-hover-bg);
}

/* ###### FORMATION DROPDOWN ###### */
.dropdown-toggle {
  min-width: 200px;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}

.dropdown-toggle > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 145px;
}

.toggle-icon {
  padding: 0;
  margin-left: 10px;
  transition: 0.3s;
  width: 7px;
}

.toggle-icon.open {
  transform: rotate(-90deg);
}

.formation-dropdown-menu.dark {
  border: var(--main-dark-border);
}

.formation-dropdown-menu.dark .btn.menu-item:first-child {
  border-top: 1px solid var(--main-dark-border);
}

.formation-dropdown-menu > .btn.menu-item {
  border-top: unset;
  justify-content: flex-start;
  text-align: left;
  min-width: 200px;
  max-width: 200px;
}

.btn.menu-item > span {
  width: inherit;
  border-top: unset;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.formation-dropdown-menu {
  display: flex;
  position: absolute;
  z-index: 1000;
  flex-direction: column;
  transition: opacity 0.3s linear;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 30px;
}

/* ###### popover ###### */
.popover-container {
  overflow: hidden; 
  position: absolute;
  z-index: 100;
  max-width: 19%;
  width: 19%;
}

.popover-container.dark {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

.popover-content > .f-grid > .f-row {
  margin-bottom: 5px;
}

.popover-content > .f-grid > .f-row:last-child {
  margin-bottom: 0px;
}
/* ###### ship-title-bar ##### */
.ship-title-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.ship-title-bar > span.end-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship-title-bar > span.end-buttons.dark {
  border-top: 2px solid var(--main-dark-border);
}

.ship-title-bar > div  {
  display: flex;
  flex-grow: 1;
  border-left: 0px!important;
  border-right: 0px!important;
  padding: 5px 16px;
  font-size: 1.5em;
  justify-content: flex-start;
}

.page.dark .ship-data-container .ship-title-bar > div,
.modal-overlay.dark .ship-title-bar > div {
  border: 2px solid var(--main-dark-border);
  background-color: var(--main-dark-title-bg);
}
.ship-title-bar > div > span.ship-name { 
  margin-right: 10px;
}
.ship-title-bar > div > span.Super.Rare:last-child {
  /* color: rgba(253, 209, 98, 0.616);*/
  color: PaleGoldenrod;
}

.ship-title-bar > div > span.Rare:last-child {
  color: powderblue;
}

.ship-title-bar > div > span.Elite:last-child {
  color: rgba(144, 98, 253, 0.616);
}

/* #####  rList  ##### */
.rList {
  flex: 1 1 auto; /* added for List2 */
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

div.rList.hidden {
  display: none;
}

.rList .rList-item {
  padding: 5px;
  margin-bottom: 1px;
}

.button-group {
  display: flex;
  flex-direction: row;
}

.button-group button {
  display: flex;
  flex: 1 1;
  flex-basis: auto;
}

.radio-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* #### INPUT ##### */
.radio-group input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-group label {
  box-sizing: border-box;
  padding: 5px 16px;
  height: 26px;
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-grow: 1;
  transition: 0.3s;
  margin-right: 1px;
}

.radio-group label:last-child {
  margin-right: 0px;
}

#input-group,
#input-group:focus {
  display: flex;
  box-sizing: border-box;
  padding: 0px 2px 0px 2px;
}

input[type="text"],
input[type="url"] {
  box-sizing: border-box;
  transition: box-shadow .2s ease-in,border .2s ease-in,background-color .2s ease-in, width 0.2s ease-in;
}

#search-input {
  margin-top: 10px;
  padding: 5px;
  height: 35px;
  width: 100%;
  margin-bottom: 1px;
  border-left: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.text-input {
  padding: 2px;
  height: 27px;
  min-width: 0;
  margin-right: 2px;
  text-overflow: ellipsis;
  font-size: 14px;
  border-radius: 2px;
}

.text-input:focus {
  flex-grow: 1;
}

.searchIcon {
  text-align: center;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 10px auto;
  margin-bottom: 10px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.searchIcon.dark {
  background-color: var(--main-dark-input-bg);
  border: 2px solid var(--main-dark-input-bg);
  transition: box-shadow .2s ease-in,border .2s ease-in,background-color .2s ease-in;
  border-right: 0px;
}



.searchIcon.dark.input-focus {
  background-color: rgba(0,0,0,0.45);
  border: 2px solid var(--main-dark-input-focus-border);
  border-right: 0px;
}

/* ##### Passives ###### */
.passives-container {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.passives-container > div {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.passives-container > div > div:first-child {
  font-size: 15px;
  padding-bottom: 1px;
}

.passives-container > div > div:last-child {
  font-size: 15px;
}

.passives-container > div > div {
  padding: 6px;
  margin: 0px;
}

.passives-container > div.pink {
  border: 2px solid rgb(99, 85, 88);
  background-color: #2d2224;
  border-radius: 5px;
}

.passives-container > div.pink > :first-child {
  border-bottom: 2px dashed rgb(99, 85, 88);
}

.passives-container > div.gold > :first-child {
  border-bottom: 2px dashed rgb(97, 95, 83);
}

.passives-container > div.deepskyblue > :first-child {
  border-bottom: 2px dashed rgb(24, 86, 107);
}

.passives-container > div.gold {
  border: 2px solid rgb(97, 95, 83);
  background-color: rgb(51, 49, 42);
  border-radius: 5px;
}

.passives-container > div.deepskyblue {
  border: 2px solid rgb(24, 86, 107);
  background-color: rgb(31, 41, 43);
  border-radius: 5px;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

/* ##### GRID ##### */
.f-grid {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 2px;
}

div.f-grid.dark div.f-header {
  border-bottom: 2px solid var(--main-dark-border);
}
div.f-grid.dark div.f-title {
  background-color: var(--main-dark-title-bg);
  border: 1px solid var(--main-dark-border);
}

div.f-grid.dark div.f-icon {
  background-color: var(--main-dark-title-bg);
  border: 1px solid var(--main-dark-border);
}

div.f-row {
  display: flex;
  flex-direction: row;
  border-radius: inherit;
  margin-bottom: 2px;
}

div.f-row.wrap {
  flex-wrap: wrap;
}

div.f-row.action * {
  cursor: pointer;
}

div.f-grid div.f-collapsible {
  display: flex;
  flex-direction: column;
  transition: flex 0.3s ease-out;
  margin-bottom: 5px;
}

div.f-grid div.f-collapsible.f-collapsed {
  display: none;
}

div.f-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: inherit;
  margin-bottom: 5px;
}

/* ##### GRID-ITEM ##### */
div.grid-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  border-radius: inherit;
  margin-right: 1px;
}


.grid-item > div.content {
  display: flex;
  height: 100%;
  cursor: pointer;
  flex-direction: column;
  border-radius: inherit;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.content div.hull-type {
  margin-right: 7px;
  cursor: pointer;
  text-align: center;
}

div.f-grid.dark div.content > div.Aircraft.Carrier {
  background-color: #352035;
}
div.f-grid.dark div.content > div.Battleship {
  background-color: #3e1c1a;
}
div.f-grid.dark div.content > div.Destroyer {
  background-color: #203844;
}
div.f-grid.dark div.content > div.Light.Cruiser,
div.f-grid.dark div.content > div.Heavy.Cruiser,
div.f-grid.dark div.content > div.Monitor {
  background-color: #503c1e;
}
div.f-grid.dark div.content > div.Repair.Ship {
  background-color: #1a4638;
}

.grid-item div.details {
  cursor: pointer;
  width: 100%;
  text-align: start;
}

.grid-item > div.content:hover {
  background-color: var(--main-dark-hover-bg);
}

.grid-item div.pos-indicator {
  border-top: 1px solid var(--main-dark-border);
  cursor: pointer;
  min-height: 17px;
  padding: 2px 5px;
  border-radius: inherit;
  text-align: start;
  font-size: 12px;
}

div.f-grid div.grid-item.toggle {
  flex-basis: auto;
}

div.f-row div.f-header {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: inherit;
  margin-right: 1px;
}

div.f-row div.name {
  min-width: 160px;
  max-width: 160px;
  height: inherit;
  padding: 1px 5px 1px 5px;
  justify-content: center;
  margin-top: 0px;
  font-size: 14px;
}

div.f-grid .grid-item.action {
  flex: 0;
  flex-basis: auto;
  flex-direction: row;
  padding: 1px 1px 1px 5px;
  min-height: 27px;
}

div.f-grid .grid-item.action {
  justify-content: center;
  align-items: center;
}

div.f-grid div.f-row div.passive {
  padding: 1px 5px 1px 5px;
  justify-content: center;
  font-size: 14px;
}

/* ##### f-title ##### */
div.f-grid div.f-title {
  display: flex;
  flex: 1 0;
  flex-basis: auto;
  padding: 3px 12px;
  margin-bottom: 5px;
  border-left: 0px!important;
  border-right: 0px!important;
  justify-content: center;
}

div.f-grid div.f-icon {
  display: flex;
  align-items: center;
  border-left: 0px!important;
  border-right: 0px!important;
  padding: 3px 12px;
  margin-bottom: 5px;
  cursor: pointer;
}

div.f-grid div.f-icon.f-collapse > svg {
  transform: rotate(-90deg);
}

div.f-grid.dark div.f-icon {
  background-color: var(--main-dark-title-bg);
  border: 1px solid #353b48;
}
div.f-grid div.f-title.bottom-emp {
  flex: unset;
  width: 367px;
  border-top: unset!important;
  justify-content: flex-start;
}

div.f-grid div.f-icon.bottom-emp {
  border-top: unset!important;
}
div.f-grid.dark div.f-icon.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-dark-border);
}
div.f-grid.dark div.f-title.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-dark-border);
}

div.f-grid div.f-row.pink {
  background-color: #2d2224;
  border-radius: 5px;
}

div.f-grid div.f-row.pink > :first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.f-grid div.f-row.gold > :first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.f-grid div.f-row.deepskyblue > :first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.f-grid div.f-row.gold {
  background-color: rgb(51, 49, 42);
  border-radius: 5px;
}

div.f-grid div.f-row.deepskyblue {
  background-color: rgb(35, 46, 49);
  border-radius: 5px;
}

/* https://css-tricks.com/the-checkbox-hack/ */
.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 43px;
  height: 19px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: #dedede;
  border-radius: 9999em;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.25s ease;
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: #72b352;
}
.switch-input:checked + .switch-label::after {
  left: 24px;
}
@media only screen and (max-width: 1340px) {
  .formation-model-container div.ship-side-container div.top-container form div#input-group div.searchIcon {
    display: none;
    width: 0;
  }
  .formation-model-container div.ship-side-container div.top-container form div#input-group input[type="text"].dark {
    background-color: #323844;
    border: 2px solid var(--main-dark-border);
  }
  .formation-model-container div.ship-side-container div.top-container form div#input-group input[type="text"].dark:focus {
    background-color: rgba(0,0,0,0.45);
    border: 2px solid var(--main-dark-input-focus-border);
  } 
}

@media only screen and (max-width: 900px) {
  div.grid-item.action > input[type="url"].dark {
    max-width: 450px;
  }
  .searchIcon {
    display: none;
    width: 0;
  }
  div.top-container form div#input-group input[type="text"].dark,
  input[type="url"].dark {
    background-color: #323844;
    border: 2px solid var(--main-dark-input-bg);
  }
  div.top-container form div#input-group input[type="text"].dark:focus,
  input[type="url"].dark:focus {
    background-color: rgba(0,0,0,0.45);
    border: 2px solid var(--main-dark-input-focus-border);
    border-left: 2px solid var(--main-dark-input-focus-border);
  } 
  div.grid-item.action > input[type="url"].dark {
    max-width: 550px;
  }
}

@media only screen and (max-width: 900px) {

 }