/* ##### DARK ##### */
:root {
  /* --root-dark-bg: rgb(42, 46, 54);*/
  /*--root-dark-bg: rgb(46, 51, 62); */
  /* --root-dark-bg: rgb(32, 36, 41);*/
  --root-dark-bg: rgb(22, 23, 25);
  --main-dark-bg: #1b1d24;
  --main-dark-border: #3f4657;
  --main-dark-color: rgb(184, 184, 184);
  --main-dark-hover-bg: #272c3b;
  --main-dark-hover-border: rgb(182, 182, 182);
  /* --main-dark-selected-bg: #272c3b;*/
  --main-dark-button-top-bg: #272c3b;
  --main-dark-button-bottom-bg: #21252f;
  --main-dark-selected-bg: #363a46;
  --main-dark-selected-bottom-bg: #2a2e35;
  --main-dark-active-bg: #343b4e;
  --main-dark-active-border: #818aa1;
  --main-dark-input-bg: #323844;
  --main-dark-input-focus-border: #444b5a;
  --main-dark-inform-bg: #272c3b;
  --main-dark-tooltip-bg: #1b1d24e3;
  --main-dark-tooltip-border: #3f4657a6;
  --main-dark-title-bg: #1b1d24;
  --main-dark-item-bg: #21252f;
  --main-dark-footer-titlebar-bg: #202023;

}

/* ##### Scrollbar ##### */
.dark ::-webkit-scrollbar {     
  background-color: var(--root-dark-bg);
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--root-dark-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  box-shadow: inset 0 0 3px rgba(105, 105, 105, 0.22);
  border: 1px solid var(--main-dark-border);
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color:var(--main-dark-border);
  /*border: 1px solid var(--main-dark-border);*/
  border-radius: 5px;
}

.dark div.scroll {
  height: 100%;
  overflow-y: scroll;
}

/* ##### Page ##### */
div.page.dark {
  background-color: var(--root-dark-bg);
  color: var(--main-dark-color);
}

div.page.dark .ship-side-container,
.modal-overlay.dark .ship-side-container {
  background-color: var(--main-dark-bg);
  border-right: 1px solid var(--main-dark-border);
}

/* ##### Titlebar ##### */
#titlebar.dark {
  background: var(--main-dark-footer-titlebar-bg);
  color: var(--main-dark-color);
  /* border-bottom: 1px solid var(--main-dark-border);*/
}
#titlebar.dark #window-title {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-menu {
  background-color: var(--main-dark-footer-titlebar-bg);
  border-bottom: 1px solid var(--main-dark-border);
}

#titlebar.dark #window-filler {
  border-bottom: 1px solid var(--main-dark-border);
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-controls {
  box-shadow: inset 0px -4px 3px -4px #00000099;
}
#titlebar.dark #window-controls .title-button {
  border-bottom: 1px solid var(--main-dark-border);
}

#titlebar.dark #window-controls .title-button:hover,
#titlebar.dark #window-controls .title-button:active {
  background: var(--main-dark-hover-bg);
}

#titlebar.dark #min-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 1;
}

#titlebar.dark #max-button, #restore-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 2;
}

#titlebar.dark #close-button {
  box-sizing: border-box;
  color: var(--main-dark-color);
  grid-column: 3;
}

#footer.dark {
  background: var(--main-dark-footer-titlebar-bg);
  border-top: 1px solid var(--main-dark-border);
  color: var(--main-dark-color);
}

/* #### Modal #### */
.modal-overlay.dark div.modal-title {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-title-bg);
}

.modal-overlay.dark .modal-container {
  background-color: var(--root-dark-bg);
  border: 3px double var(--main-dark-border);
  border-radius: 2px;
  color: var(--main-dark-color);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}

/* #### Tab #### */
div.page.dark .tab {
  overflow: hidden;
  border: 1px solid var(--main-dark-border);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-dark-bg);
}

nav.tab.dark {
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-dark-border);
}

nav.tab.dark > a {
  color: rgba(184, 184, 184, 0.4);
  border-right: 1px solid var(--main-dark-footer-titlebar-bg);
  border-left: 1px solid var(--main-dark-footer-titlebar-bg);
  box-shadow: inset 0px -4px 3px -4px #00000099;
  background-color: var(--main-dark-footer-titlebar-bg);
}

nav.tab.dark > a.active {
  height: 32px!important;
  color: var(--main-dark-color);
  box-shadow: 0px -4px 3px #00000099;
  background-color: var(--root-dark-bg)!important;
  border-bottom: 1px solid transparent;
  border-right: 1px solid var(--main-dark-border);
  border-left: 1px solid var(--main-dark-border);
}

nav.tab.dark > a.active > span {
  position: relative;
  top: -1px;
}

nav.tab.dark > a:hover {
  color: var(--main-dark-color);
}

/* ###### Buttons ###### */
button.dark {
  background-color: var(--main-dark-bg);
  color: var(--main-dark-color);
}

.btn.graphic.dark:hover {
	background: linear-gradient(to bottom, var(--main-dark-button-bottom-bg) 5%, var(--main-dark-button-top-bg) 100%);
  text-shadow: 0px 1px 0px var(--main-dark-border);
}

.btn.graphic.dark.selected {
  background: linear-gradient(to bottom, var(--main-dark-selected-bottom-bg) 10%,  var(--main-dark-selected-bg) 100%);
  text-shadow: 0px 1px 0px var(--main-dark-border);
  box-shadow: inset 1px 1px 1px #252525;
}

.btn.graphic.dark {
  box-shadow: inset 0px 1px 0px 0px var(--main-dark-input-bg);
	background: linear-gradient(to bottom, var(--main-dark-button-top-bg) 5%, var(--main-dark-button-bottom-bg) 100%);
}
/*
button.btn.dark {
  border: 1px solid var(--main-dark-border);
}
*/
.btn.graphic.dark {
  border: 1px solid #000000;
}

button.btn.dark:hover,
button.tab-btn.dark:hover {
  background-color: var(--main-dark-hover-bg);
}

button.dark.active {
  background-color: var(--main-dark-active-bg);
  box-shadow: inset 0px 0px 4px 0px var(--main-dark-bg);
}

button.btn.graphic.dark:disabled:hover {
  box-shadow: inset 0px 1px 0px 0px #30333d;
	background: linear-gradient(to bottom, var(--main-dark-button-top-bg) 5%, var(--main-dark-button-bottom-bg) 100%);
}

button.btn.dark:disabled:hover,
button.tab-btn.dark:disabled:hover {
  background-color: var(--main-dark-bg);
}

button.btn.dark.selected,
button.tab-btn.dark.selected {
  background-color: var(--main-dark-selected-bg);
}

button.tab-btn.dark.inform {
  background-color: var(--main-dark-inform-bg);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

/* #### Formation menu ##### */
.formation-dropdown-menu.dark {
  border: var(--main-dark-border);
}

.formation-dropdown-menu.dark .btn.menu-item:first-child {
  border-top: 1px solid var(--main-dark-border);
}

/* #### Popover #### */
.popover-container.dark {
  background-color: var(--main-dark-bg);
  border: 1px solid var(--main-dark-border);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

/* #### ship title bar #### */

.ship-title-bar > span.end-buttons.dark {
  border-top: 1px solid var(--main-dark-border);
}

.ship-title-bar > span.end-buttons.dark > button {
  border-bottom: 1px solid var(--main-dark-border)!important;
}

.page.dark .ship-data-container .ship-title-bar > div,
.modal-overlay.dark .ship-title-bar > div {
  border: 1px solid var(--main-dark-border);
  background-color: var(--main-dark-title-bg);
}
.page.dark div.ship-actions {
  border: 1px solid var(--main-dark-border);
}
/* #### Rarity colors #### */
.ship-title-bar > div > span.Super.Rare:last-child {
  /* color: rgba(253, 209, 98, 0.616);*/
  color: PaleGoldenrod;
}

.ship-title-bar > div > span.Rare:last-child {
  color: powderblue;
}

.ship-title-bar > div > span.Elite:last-child {
  color: rgba(144, 98, 253, 0.616);
}

/* #### Input #### */
input[type="text"].dark,
input[type="url"].dark,
.searchIcon.dark  {
  color: var(--main-dark-color);
  background-color: var(--main-dark-input-bg);
  border: 2px solid var(--main-dark-input-bg);
}

input[type="text"].dark:focus,
input[type="url"].dark:focus,
.searchIcon.dark.input-focus {
  color: var(--main-dark-color);
  background-color: rgba(0,0,0,0.45);
  border: 2px solid var(--main-dark-input-focus-border);
}

.searchIcon.dark,
.searchIcon.dark.input-focus {
  border-right: 0px;
}

/* #### Grid #### */
div.f-grid.dark div.f-header {
  border-bottom: 2px solid var(--main-dark-border);
}
div.f-grid.dark div.f-title {
  background-color: var(--main-dark-title-bg);
  border: 1px solid var(--main-dark-border);
}

div.f-grid.dark div.f-icon {
  background-color: var(--main-dark-title-bg);
  border: 1px solid var(--main-dark-border);
}
/*
button.btn.dark.selected::after,
button.tab-btn.dark.selected::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: transparent;
  border-radius: 3px;
  box-shadow: inset 0px 0px 4px 0px var(--main-dark-bg);
} */

.rList .rList-item.btn.flat.dark.selected::after {
  /* background-color: var(--main-dark-selected-bg);*/
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: transparent;
  border-radius: 3px;
  box-shadow: inset 0px 0px 4px 0px var(--main-dark-bg);
}

/* #### hull types #### */
div.f-grid.dark div.content > div.Aircraft.Carrier,
.rList .rList-item.dark > div.hullTypeAbb.Aircraft.Carrier {
  background-color: #352035;
}

div.f-grid.dark div.content > div.Battleship,
.rList .rList-item.dark > div.hullTypeAbb.Battleship, 
.rList .rList-item.dark > div.hullTypeAbb.Battlecruiser {
  background-color: #3e1c1a;
}
div.f-grid.dark div.content > div.Large.Cruiser,
.rList .rList-item.dark > div.hullTypeAbb.Large.Cruiser {
  background-color: #5a3023;
}
div.f-grid.dark div.content > div.Destroyer,
.rList .rList-item.dark > div.hullTypeAbb.Destroyer {
  background-color: #203844;
}
.rList .rList-item.dark > div.hullTypeAbb.Submarine {
  background-color: #3a4d21;
}
div.f-grid.dark div.content > div.Light.Cruiser,
div.f-grid.dark div.content > div.Heavy.Cruiser,
div.f-grid.dark div.content > div.Monitor,
.rList .rList-item.dark > div.hullTypeAbb.Heavy.Cruiser,
.rList .rList-item.dark > div.hullTypeAbb.Monitor,
.rList .rList-item.dark > div.hullTypeAbb.Light.Cruiser {
  background-color: #503c1e;
}

div.f-grid.dark div.content > div.Repair.Ship,
.rList .rList-item.dark > div.hullTypeAbb.Repair.Ship {
  background-color: #1a4638;
}

/* #### grid icon #### */
div.f-grid.dark div.f-icon {
  background-color: var(--main-dark-title-bg);
  border: 1px solid var(--main-dark-border);
}

/* #### grid title #### */
div.f-grid.dark div.f-icon.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-dark-border);
}
div.f-grid.dark div.f-title.bottom-emp {
  background-color: unset;
  border-bottom: 2px solid var(--main-dark-border);
}

/* #### rarity #### */
div.f-grid.dark div.f-row.pink {
  background-color: var(--main-dark-bg);
  border: 1px solid rgba(255, 192, 203, 0.12);
  border-radius: 3px;
}

div.f-grid.dark div.f-row.pink > div.grid-item.name {
  background-color: rgba(255, 192, 203, 0.12);
  /*color: rgba(255, 192, 203, 0.65);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);*/
}

div.f-grid.dark div.f-row.gold {
  background-color: var(--main-dark-bg);
  border: 1px solid rgba(255, 215, 0, 0.12);
  border-radius: 3px;
}

div.f-grid.dark div.f-row.gold > div.grid-item.name {
  background-color: rgba(255, 215, 0, 0.12);
  /*color: rgba(255, 240, 152, 0.767);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.555);*/
}

div.f-grid.dark div.f-row.deepskyblue {
  background-color: var(--main-dark-bg);
  border: 1px solid rgba(0, 191, 255, 0.12);
  border-radius: 3px;
}

div.f-grid.dark div.f-row.deepskyblue > div.grid-item.name {
  background-color: rgba(0,191,255, 0.12);
  /*color: rgba(0, 191, 255, 0.65);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);*/
}

.toast-container.dark > .toast {
  background-color: var(--main-dark-bg);
  color: var(--main-dark-color);
}

.toast-container.dark > .toast:hover {
  box-shadow: 0px 0px 3px 0px var(--main-dark-selected-bg);
}

.toast-container.dark .toast.warning {
  background-color: rgb(109, 109, 0);
  /* border: 1px solid #9c8b33;*/
}
.toast-container.dark .toast.error {
  background-color: #380000;
}
.toast-container.dark .toast.info {
  /* background-color: #e1e7ec;*/
  border: 1px solid var(--main-dark-border);
}
.toast-container.dark .toast.success {
  /* background-color: #171f27; */
  border: 1px solid var(--main-dark-border);
}

.toast-container.dark .toast-icon {
  color: var(--main-dark-color);
  border-right: 1px solid var(--main-dark-border)!important;
}

.toast-container.dark .toast-icon:hover {
  box-shadow: inset -1px -1px 4px 1px var(--main-dark-hover-bg);
  /*box-shadow: inset 0px 0px 4px 0px var(--main-dark-bg)*/
  
}
@media only screen and (max-width: 1340px) {
  .formation-model-container div.ship-side-container div.top-container form div#input-group input[type="text"].dark {
    background-color: #323844;
    border: 2px solid var(--main-dark-border);
  }
  .formation-model-container div.ship-side-container div.top-container form div#input-group input[type="text"].dark:focus {
    background-color: rgba(0,0,0,0.45);
    border: 2px solid var(--main-dark-input-focus-border);
  } 
}

@media only screen and (max-width: 900px) {
  div.grid-item.action > input[type="url"].dark {
    max-width: 450px;
  }
  div.top-container form div#input-group input[type="text"].dark,
  input[type="url"].dark {
    background-color: #323844;
    border: 2px solid var(--main-dark-input-bg);
  }
  div.top-container form div#input-group input[type="text"].dark:focus,
  input[type="url"].dark:focus {
    background-color: rgba(0,0,0,0.45);
    border: 2px solid var(--main-dark-input-focus-border);
    border-left: 2px solid var(--main-dark-input-focus-border);
  } 
  div.grid-item.action > input[type="url"].dark {
    max-width: 550px;
  }
}
