/* ##### Light theme ##### */
:root {
  /* --root-light-bg: #fff;*/
  --root-light-bg:#fdfdfd;
  --main-light-color: #252323;
  /* --main-light-bg:  rgb(246, 247, 255);*/
  --main-light-bg: #ecf6ff;
  --main-light-border: #a9acb3;
  --main-light-focus: rgb(211, 211, 211);
  --main-light-focus-border: #575757;
  --main-light-active-bg: #d6d6d6;
  --main-light-titlebar-bg: #d3eaff;
  --main-light-footer-bg: #efefef;
  --main-light-title-bg:  #ecf6ff;
  --main-light-button-bg:  rgb(246, 247, 255);
  --main-light-button-selected-bg:  #c4dbf1;
  --main-light-button-hover-bg:  #d8e3ec;
  --main-light-button-bottom-bg: #ecebeb;
  --main-light-button-top-bg: #ffffff;
  --main-light-inform-bg: #a5a5a5;
  --main-light-input-bg: #fdfdfd;
  --main-light-input-focus-bg: #dfdfdf;
  --main-light-input-focus-border: ;
  --main-light-passive-bg: rgb(246, 247, 255);
  --main-light-tooltip-bg: #d3eaff;
  --main-light-tooltip-border: #bcd0ff;
}

/* ##### Scrollbar ##### */
.light ::-webkit-scrollbar {     
  width: 0.5em;
}

.light ::-webkit-scrollbar-track {
  background-color: var(--root-light-bg);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.22);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}

.light ::-webkit-scrollbar-thumb {
  background-color: var(--main-light-bg);
  border: 1px solid var(--main-light-border);
  border-radius: 5px;
}

.light div.scroll {
  height: 100%;
  overflow-y: scroll;
}

/* ##### Page ##### */
div.page.light {
  background-color: var(--root-light-bg);
  color: var(--main-light-color);
}

div.page.light .ship-side-container,
.modal-overlay.light .ship-side-container {
  background-color: var(--main-light-bg);
  border-right: 1px solid var(--main-light-border);
}

/* #### Titlebar #### */
#titlebar.light {
  background: var(--main-light-titlebar-bg);
  color: var(--main-light-color);
  /* border-bottom: 1px solid var(--main-light-border);*/
}
#titlebar.light #window-title {
  border-bottom: 1px solid var(--main-light-border);
  
}
/*
#titlebar.light #window-menu {
  background-color: var(--root-light-bg);
}
*/
#titlebar.light #window-filler {
  border-bottom: 1px solid var(--main-light-border);
  
}
#titlebar.light #window-controls {
  border-bottom: 1px solid var(--main-light-border);
  
}
#titlebar.light #window-controls .title-button:hover,
#titlebar.light #window-controls .title-button:active {
  background: #c4dbf1;
}

#titlebar.light #min-button {
  color: var(--main-light-color);
  grid-column: 1;
}

#titlebar.light #max-button, #restore-button {
  color: var(--main-light-color);
  grid-column: 2;
}

#titlebar.light #close-button {
  color: var(--main-light-color);
  grid-column: 3;
}

#footer.light {
  background: var(--main-light-footer-bg);
  color: var(--main-light-color);
  border-top: 1px solid var(--main-light-border);
}

/* #### Modal #### */
.modal-overlay.light div.modal-title {
  border: 1px solid var(--main-light-border);
  /* background-color: var(--main-light-title-bg);*/
  background-color: var(--main-light-bg);
}

.modal-overlay.light .modal-container {
  background-color: var(--root-light-bg);
  border: 1px solid #565656;
  border-radius: 2px;
  color: var(--main-light-color);
  -webkit-box-shadow: 1px 1px 4px 1px #0000008f;
  -moz-box-shadow: 1px 1px 4px 1px #0000008f;
  box-shadow: 1px 1px 4px 1px #0000008f;
}

/* #### Tab #### */
div.page.light .tab {
  overflow: hidden;
  border: 1px solid var(--main-light-border);
  border-left: 0px;
  border-right: 0px;
  background-color: var(--main-light-bg);
}

nav.tab.light > a {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: rgba(37, 35, 35, 0.4);
  border-bottom: 1px solid var(--main-light-border);
}

nav.tab.light > a.active {
  color: var(--main-light-color);
  background-color: var(--root-light-bg);
  border-right: 1px solid var(--main-light-border);
  border-left: 1px solid var(--main-light-border);
  border-bottom: 1px solid transparent;
}
nav.tab.light > a.active > span {
  margin-top: 1px;
}

nav.tab.light > a:hover {
  color: var(--main-light-color);
}

div.page.light > .top-container:after {
  content: "";
  width: 100%;
  bottom: 1px;
  z-index:-1;
  -webkit-box-shadow: 0px 0px 8px 1px #0000006b;
  -moz-box-shadow: 0px 0px 8px 1px #0000006b;
  box-shadow: 0px 0px 8px 1px #0000006b;
}

/* ###### Buttons ###### */
button.light {
  background-color: var(--main-light-bg);
  color: var(--main-light-color);
}

.btn.flat.light {
  background-color: var(--main-light-bg);
}

.btn.graphic.light:hover {
  background: linear-gradient(to bottom, var(--main-light-button-bottom-bg) 5%, var(--main-light-button-top-bg) 100%);
	background-color:#f6f6f6;
}

.btn.graphic.light.selected {
  background: linear-gradient(to bottom, rgb(220, 220, 220) 10%, rgb(255, 255, 255) 100%);
  box-shadow: inset 1px 1px 2px 0px #252525;
}

.btn.graphic.light {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, var(--main-light-button-top-bg) 5%, var(--main-light-button-bottom-bg) 100%);
}
/*
button.btn.light {
  border: 1px solid var(--main-light-border);
}
*/
.btn.graphic.light {
  border: 1px solid #6f6f6f;
}

button.btn.light:hover,
button.tab-btn.light:hover {
  background-color: var(--main-light-button-hover-bg);
}

button.light.active {
  background-color: var(--main-light-button-selected-bg);
}

button.btn.graphic.light:disabled:hover {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, var(--main-light-button-top-bg) 5%, var(--main-light-button-bottom-bg) 100%);
}

button.btn.light:disabled:hover,
button.tab-btn.light:disabled:hover {
  background-color: var(--main-light-bg);
}

button.btn.light.selected,
button.tab-btn.light.selected {
  background-color: var(--main-light-button-selected-bg);
}

/*
button.btn.light.selected::after,
button.tab-btn.light.selected::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border: transparent;
  border-radius: 3px;
  box-shadow: inset 0px 0px 4px 0px var(--main-light-passive-bg);
}
*/

button.tab-btn.light.inform {
  background-color: var(--main-light-inform-bg);
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.tab button.light {
  color: var(--main-light-color);
  background-color: var(--main-light-bg);
}

/* Change background color of buttons on hover */
.tab button.light:hover {
  background-color: var(--main-light-button-hover-bg);
}

/* Create an active/current tablink class */
.tab button.light.active {
  background-color: var(--main-light-button-selected-bg);
  color: var(--main-light-color);
}

.formation-dropdown-menu.light {
  border: var(--main-light-border);
}

.formation-dropdown-menu.light .btn.menu-item:first-child {
  border-top: 1px solid var(--main-light-border);
}

/* ##### GRID ##### */
div.f-grid.light div.f-header {
  border-bottom: 2px solid var(--main-light-border);
}

div.f-grid.light div.f-title,
div.f-grid.light div.f-icon {
  background-color: var(--main-light-title-bg);
  border: 1px solid var(--main-light-border);
}

/* ##### GRID-ITEM ##### */
div.f-grid.light div.content > div.Aircraft.Carrier,
.rList .rList-item.light > div.hullTypeAbb.Aircraft.Carrier {
  background-color: Plum;
}

div.f-grid.light div.content > div.Battleship,
.rList .rList-item.light > div.hullTypeAbb.Battleship,
.rList .rList-item.light > div.hullTypeAbb.Battlecruiser {
  background-color:Pink;
}

/* submarine #7ba543 background */ 
.rList .rList-item.light > div.hullTypeAbb.Submarine {
  background-color: palegreen;
}

/* large cruiser  aka zuma #b25c41*/
.rList .rList-item.light > div.hullTypeAbb.Large.Cruiser {
  background-color: lightsalmon;
}

div.f-grid.light div.content > div.Destroyer,
.rList .rList-item.light > div.hullTypeAbb.Destroyer {
  background-color: PowderBlue;
}

div.f-grid.light div.content > div.Light.Cruiser,
div.f-grid.light div.content > div.Heavy.Cruiser,
div.f-grid.light div.content > div.Monitor,
.rList .rList-item.light > div.hullTypeAbb.Heavy.Cruiser,
.rList .rList-item.light > div.hullTypeAbb.Monitor,
.rList .rList-item.light > div.hullTypeAbb.Light.Cruiser {
  background-color: NavajoWhite;
}

div.f-grid.light div.content > div.Repair.Ship,
.rList .rList-item.light > div.hullTypeAbb.Repair.Ship {
  background-color: Aquamarine;
}

.f-grid.light .grid-item > div.content:hover {
  background-color: var(--main-light-button-hover-bg);
}

.f-grid.light div.pos-indicator {
  border-top: 1px solid var(--main-light-border);
}

/* ##### f-title ##### */
div.f-grid.light div.f-icon {
  background-color: var(--main-light-title-bg);
  border: 1px solid var(--main-light-border);
}

div.f-grid.light div.f-icon.bottom-emp,
div.f-grid.light div.f-title.bottom-emp  {
  background-color: unset;
  border-bottom: 2px solid var(--main-light-border);
}

div.f-grid.light div.f-row.pink {
  background-color: var(--main-light-passive-bg);
  border: 1px solid Pink;
  border-radius: 3px;
}

div.f-grid.light div.f-row.pink > div.grid-item.name {
  background-color: pink;
}

div.f-grid.light div.f-row.gold {
  background-color: var(--main-light-passive-bg);
  border: 1px solid gold;
  border-radius: 3px;
}

div.f-grid.light div.f-row.gold > div.grid-item.name {
  background-color: gold;
}
div.f-grid.light div.f-row.deepskyblue {
  background-color: var(--main-light-passive-bg);
  border: 1px solid DeepSkyBlue;
  border-radius: 3px;
}

div.f-grid.light div.f-row.deepskyblue > div.grid-item.name {
  background-color: DeepSkyBlue;
}

/* ###### ship-title-bar ##### */
.ship-title-bar > span.end-buttons.light {
  border-top: 1px solid var(--main-light-border);
}
.ship-title-bar > span.end-buttons.light > button {
  border-bottom: 1px solid var(--main-light-border)!important;
}

.page.light .ship-data-container .ship-title-bar > div,
.modal-overlay.light .ship-title-bar > div {
  border: 1px solid var(--main-light-border);
  /* background-color: var(--main-light-title-bg);*/
  background-color: var(--main-light-bg);
}

.ship-title-bar > div > span.Super.Rare:last-child {
  color: PaleGoldenrod;
}

.rList .rList-item.light.Super.Rare
/* .rList .rList-item > div.name.Super.Rare */ {
  background-color: PaleGoldenrod;
  border: 1px solid rgb(167, 161, 95);
}

.ship-title-bar > div > span.Rare:last-child {
  color: powderblue;
}

.page.light .ship-title-bar > div > span.Elite:last-child {
  color: Plum;
}
/* #### Popover #### */
.popover-container.light {
  background-color: ghostwhite;
  border: 1px solid var(--main-light-border);
  -webkit-box-shadow: 1px 1px 4px 0px #0000004d;
  -moz-box-shadow: 1px 1px 4px 0px #0000004d;
  box-shadow: 1px 1px 4px 0px #0000004d;
}
/* #### Input #### */
input[type="text"].light,
input[type="url"].light,
.searchIcon.light  {
  color: var(--main-light-border);
  background-color: var(--main-light-input-bg);
  border: 2px solid var(--main-light-border);
}

input[type="text"].light:focus,
input[type="url"].light:focus,
.searchIcon.light.input-focus {
  color: var(--main-light-color);
  background-color: var(--main-light-input-focus-bg);
  border: 2px solid var(--main-light-input-focus-border);
}
.searchIcon.light,
.searchIcon.light.input-focus {
  border-right: 0px;
}